<div class="container">
  <h1>
    Join the Camp It Up! Team!
  </h1>

  <div class="note">
    <span style="color: red;">***</span> If you want to help Camp It Up! out <span style="font-weight: bold">right
      now</span>, please email <a href="info@campitup.org"
      style="color: darkgreen;  font-weight: bold">info@campitup.org</a> for current opportunities within
    the CIU team (hint:
    we would love more <a routerLink="/board" style="color: darkgreen; font-weight: bold" target="_blank">board
      members!</a>). <span style="color: red">***</span> <br>
  </div>
  <p>
    Every staff member will have two shifts every day. All staff are required to be at the morning meeting every day
    from 8-9 regardless of shift. CIT's might only have one shift some days and two on other days, depending on their
    trainings. Director hours may vary from this.
  </p>
  <p>
    The three shifts are: 9AM-12PM is Shift 1, 1PM-5PM is Shift 2, 6PM-10PM is Shift 3
  </p>
  <p>
    There will also be some additional shifts as needed, though these might not be 3-4 hours long. An example of shifts
    like this might be split dinners, or leading a polar bear swim before breakfast.
  </p>
  <p>
    We will continue to have a zero drug and alcohol policy while in camp, even if you're holding a medical card,
    or over 21.
  </p>
  <p>
    The following are the basic job descriptions for you to consider when you apply for CIU! this year. Applications
    must be sent in by April 1st to be considered for a position on staff. Any qualified applicants who apply after
    April 1st will be considered on an as needed basis. We understand that new outgoing college students might not
    know until May 1st, so if that's the case and you want to still be considered, please include the details in the
    notes section of the application.
  </p>
  <h2>
    Openings for 2020
  </h2>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
          aria-controls="collapseOne">
          <strong>
            Senior Counselor
          </strong>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be 18 years or older
            </li>
            <li>
              Must have experience working with children
            </li>
            <li>
              Must have experience working in a group
            </li>
            <li>
              Must have leadership skills and be creative
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          As a senior counselor, you will be the head counselor within a children's group. Your main tasks
          will be to focus on the entire group dynamic, scheduling, transitions, establishing a group
          mentality and focus. You will be in charge of knowing all special needs, allergies and medical needs
          of all children inside your group and communicating this to your counselor group (this information
          will be provided by the Admin Director).
          You will be in charge of coming up with a dynamic and working schedule for the group, which includes
          a balance of working with specialists and focusing inside the group.
          As the senior counselor, you will be responsible of leading and communicating to other counselors in
          your group the activities for the day, assessing needs, and adjusting accordingly. You will also be
          responsible for updating the camper communications board with a daily schedule and what campers need
          to bring. If something happens in group, you are required to fill out an Incident Report and deliver
          it to the Admin Director.
          If any issues arise in group, you are required to keep the Camp Director, Staff Director and CIT
          Director informed. You will be expected to ask for support from necessary specialists and keep
          parents informed to what is going on with their kids in group. <br>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
          aria-controls="collapseTwo">
          <strong>
            Junior Counselor
          </strong>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must have experience working with children
            </li>
            <li>
              Must have experience working in a group
            </li>
            <li>
              Must have leadership skills and be creative
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          As a junior counselor, your main role will be to support the senior counselor within your group, as
          well as be a second leader for group. You will be working closely with your senior counselor to help
          develop the program for the week, while keeping focus on individual group members and building
          special relationships and support for each child. You will be expected to mentor, support and
          include the CIT. <br>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
          aria-controls="collapseThree">
          <strong>
            Counselor in Training (CIT)
          </strong>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be at least 15 or have completed one year of high school (exceptions will be considered
              at the Director's discretion)
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          As a CIT, you are expected to participate in a two to three year training at Camp It Up!. The
          training program is lead by the CIT Director with support from the Staff Supervisor or Camp
          Director. You will have clear communication of your strengths, weaknesses and hopes with the CIT and
          Staff Directors, and be open to job placements. If you are placed in a group, you will be working
          directly with the senior and junior counselors of said group. If you are placed as a specialist or
          with programming/admin, you will be working directly with Programming or Admin Directors. You are
          required to attend daily meetings, for both all-staff and CIT specific. As a CIT, you will be
          participating in pre-camp trainings and meetings. <br>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
          aria-controls="collapseFour">
          <strong>
            Specialists (Kids and Adults)
          </strong>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              A specific skill you are able to share and teach
            </li>
            <li>
              Specialist are needed are for Drama, Administration, Music, Kids Arts and Crafts, Adult Arts
              and Crafts (tye-dye, pine-needle baskets, silk painting skills are a plus), Specialty Crafts
              (mosaics, carpentry skills are a plus) and Sports
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          As a specialist, you will follow the leadership of the Director team. You will be working with a
          Director on all camp programming, planning, set up and breakdown. You will be expected to create a
          curriculum or program plan for camp. You will coordinate with the Program Director for all needed
          supplies for ordering by June 15. As a specialist you will be expected to communicate with the Staff
          Director the availability and details about your program for kids group. You will also communicate
          with Admin and Hospitality Coordinator to make sign up sheets for your programs and track payments
          and fees owed. <br>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
          aria-controls="collapseFive">
          <strong>
            Program Staff Director
          </strong>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be 25 years or older
            </li>
            <li>
              Must be creative and flexible
            </li>
            <li>
              Must have great collaboration skills
            </li>
            <li>
              Must be organized and well directed
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          As the Program Staff Director, you will be working with the Director and Assistant Camp Director to
          plan, implement, and break-down all family and evening programming. You will help in supervising
          staff. You will live in Staff Village and lead night and evening supervising. You will be expected
          to work with all specialists to support the production of the Camp Show and Talent show, art
          projects, etc. You will work with specialists and program staff to bring afternoon and evening
          programming. You sill lead implementation of "Pizzazz" or decoration of camp and camp programs. <br>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
          aria-controls="collapseSix">
          <strong>
            CIT Director
          </strong>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be 25 years or older
            </li>
            <li>
              Must have great leadership skills
            </li>
            <li>
              Must be patient under stress
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          As the CIT Director you will be responsible for leading the CIT group as well as contributing to
          total Summer Camp operations including set up and cleanup of all camp activities, meals, and
          complete participation at required events. The CIT Director/Co-Director is a member of the camp
          leadership team. You will be working with the Camp Director to plan, implement and lead all CIT
          trainings before and during camp. You will lead the supervising of CIT's living in Staff Village,
          during the night and evening. You will observe the CIT's working and identify areas or weakness and
          strengths to provide one-on-one support. <br>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
          aria-controls="collapseSeven">
          <strong>
            Assistant Camp Director
          </strong>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be 25 years or older
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          Please call <a href="tel:510.871.3659" style="color: darkgreen">(510.871.3659)</a> or email <a
            href="info@campitup.org" style="color: darkgreen">(info@campitup.org)</a>
          directly if you are interested in this position.
        </div>
      </div>
    </div>
  </div>
</div>
