<div class="container">
  <h1>
    Join the Camp It Up! Team!
  </h1>
  <div>
    We are excited about the 2020 summer camp and are hiring for our program staff. There are several positions
    available and they are all essential to the magic that is Camp It Up! (CIU!). The positions are:
    <ul>
      <li>
        Senior Counselor
      </li>
      <li>
        Junior Counselor
      </li>
      <li>
        Counselor In Training (CIT)
      </li>
      <li>
        Specialist
      </li>
      <li>
        Program Staff Director
      </li>
      <li>
        Program Director
      </li>
      <li>
        CIT Director
      </li>
    </ul>
  </div>
  <p>
    At camp all staff members have two work shifts every day as well as a required daily morning meeting (8-9am). The
    three shifts are: 9AM-12PM, 1PM-5PM and 6PM-10PM. There will also be some additional shifts as needed, though these
    might not be 3-4 hours long.
  </p>
  <p>
    CIT's might only have one shift some days and two on other days, depending on their trainings. Director hours may
    vary from this.
  </p>
  <p>
    CIU! has a zero drug and alcohol policy while in camp, even if you're holding a medical card, or over 21.
  </p>
  <p>
    Applications must be sent in by <strong>April 1st</strong> to be considered for a staff position. Any qualified
    applicants who apply
    after April 1st will be considered only on an as needed basis. We understand that new outgoing college students
    might not know until May 1st, so if that's the case and you want to still be considered, you still need to apply by
    April 1st but please include the details in the notes section of the application. The job descriptions are below as
    well as the link to the applications. LGBTQI+ and People of Color are encouraged to apply.
  </p>
  <h2>
    Openings for 2020
  </h2>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
          aria-controls="collapseOne">
          <strong>
            Senior Counselor
          </strong>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be 21 years or older
            </li>
            <li>
              Must have leadership skills and be creative
            </li>
            <li>
              Must have experience working with children/youth/teens
            </li>
            <li>
              Must have experience working in a group
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          A Senior Counselor is the head counselor within a children, youth or teen's group. <br>Main responsibilities
          include:
          <ul>
            <li>
              focusing on the entire group dynamic
            </li>
            <li>
              creating a dynamic and working group schedule group culture
            </li>
            <li>
              establishing a group camp culture
            </li>
            <li>
              leading and communicating to other counselors in your group the activities for the day, assessing needs,
              and
              adjusting accordingly.
            </li>
            <li>
              updating the camper communications board with a daily schedule and what campers need to bring.
            </li>
            <li>
              filling out an Incident Report when needed and delivering it to the Administrative Director
            </li>
            <li>
              knowing the special needs, allergies and medical needs of all children/youth/teens in their group and
              communicating
              this
              to your group. This information will be provided by the Administrative Director.
            </li>
            <li>
              being a mentor and support to the CIT.
            </li>
            <li>
              establishing a group camp culture
            </li>
            <li>
              reporting all issues that arise in group to the Executive Director, Program Staff Director and CIT
              Director
            </li>
            <li>
              asking for support from necessary Specialists
            </li>
            <li>
              keeping parents/guardians informed of how their children/youth/teens are doing in group.
            </li>
          </ul>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
          aria-controls="collapseTwo">
          <strong>
            Junior Counselor
          </strong>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be 18 years or older
            </li>
            <li>
              Must have leadership skills and be creative
            </li>
            <li>
              Must have experience working with children/youth/teens
            </li>
            <li>
              Must have experience working in a group
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          A Junior Counselor’s main role is to support the Senior Counselor within your group and be the second leader
          for the group. <br>Main responsibilities include:
          <ul>
            <li>
              working closely with your Senior Counselor to help develop the group program for the week
            </li>
            <li>
              keeping focus on individual group members and supporting each child/youth/teen
            </li>
            <li>
              being a mentor and support to the CIT
            </li>
          </ul>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
          aria-controls="collapseThree">
          <strong>
            Counselor in Training (CIT)
          </strong>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be at least 16 or have completed one year of high school (exceptions will be considered at the
              Executive Director's discretion)
            </li>
            <li>
              Leadership skills and creativity
            </li>
            <li>
              Clear communication of your strengths, weaknesses and hopes with the Executive Director, Program Staff
              Director and CIT Director
            </li>
            <li>
              Be open to camp job placements
            </li>
            <li>
              Attend required daily meetings for both all-staff and CIT specific
            </li>
            <li>
              Participate in pre-camp trainings and meetings
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          As a CIT, you are expected to participate in a two to three years of of leadership training at Camp It Up!.
          The training program is led by the CIT Director with support from the Program Staff Director or Executive
          Director. If you are placed in a group, you will be working directly with the Senior and Junior Counselors of
          your group. If you are placed as or with a Specialist or with program/administration, you will be working
          directly with Program or Administrative Directors. <br>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
          aria-controls="collapseFour">
          <strong>
            Specialists (Kids and Adults)
          </strong>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be 18 years or older
            </li>
            <li>
              Must have leadership skills and be creative
            </li>
            <li>
              Must have experience working with children/youth/teens and/or adults
            </li>
            <li>
              Must have experience working in a group
            </li>
            <li>
              A specific skill you can share and teach
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          Specialists are needed are for Drama/Dance, Administration, Music, Children/youth/teen Arts and Crafts, Adult
          Arts and Crafts (tye-dye, pine-needle baskets, silk painting skills are a plus), Specialty Crafts (mosaics,
          carpentry skills are a plus) and Sports.<br>
          As a Specialist, you will follow the leadership of the Director team. <br>Main responsibilities include:
          <ul>
            <li>
              working with a Director on all camp programming, planning, set up and break down
            </li>
            <li>
              creating a curriculum or program plan
            </li>
            <li>
              coordinating with the Program Director for all needed supplies for ordering by June 15.
            </li>
            <li>
              communicatinge with the Program Staff Director the availability and details about your program
            </li>
            <li>
              communicatinge with Administrative Director and Hospitality Coordinator to make sign upsign-up sheets for
              your programs and track payments and fees owed if required.
            </li>
          </ul>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
          aria-controls="collapseFive">
          <strong>
            Program Staff Director
          </strong>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be 25 years or older
            </li>
            <li>
              Must have leadership skills
            </li>
            <li>
              Must be creative and flexible
            </li>
            <li>
              Must have great collaboration and communication skills
            </li>
            <li>
              Must be organized and well directed
            </li>
            <li>
              Must have experience working with children/youth/teens and/or adults
            </li>
            <li>
              Must have experience working in a group and team building
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          The Program Staff Director’s main responsibilities include:
          <ul>
            <li>
              working with the Executive Director, Program Director and CIT Director to plan, implement, and break-down
              all family and evening programing
            </li>
            <li>
              assisting in supervising staff
            </li>
            <li>
              living in the Staff Village and leading night and evening supervison
            </li>
            <li>
              working with all Specialists to support the production of the Camp Show and Talent Show, art projects,
              etc.
            </li>
            <li>
              working with Specialists and program staff to bring afternoon and evening programming.
            </li>
            <li>
              leading implementation of "Pizzazz" or decoration of camp and camp programs.
            </li>
          </ul>
          <br>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="false">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
          aria-controls="collapseSix">
          <strong>
            CIT Director
          </strong>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be 25 years or older
            </li>
            <li>
              Must have great leadership skills
            </li>
            <li>
              Must be patient under stress
            </li>
            <li>
              Must be creative and flexible
            </li>
            <li>
              Must have great collaboration and communication skills
            </li>
            <li>
              Must be organized and well directed
            </li>
            <li>
              Must have experience working with children/youth/teens
            </li>
            <li>
              Must have experience working in a group and team building
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          The CIT Director responsibilities include:
          <ul>
            <li>
              being member of the camp leadership team.
            </li>
            <li>
              working with the Executive Director to plan, implement and lead all CIT trainings before and during camp.
            </li>
            <li>
              leading and supervising the CIT leadership program
            </li>
            <li>
              leading the supervision of CIT's living in Staff Village, during the night and evening
            </li>
            <li>
              observing the CIT's working and identifying areas or weakness and strengths to provide one-on-one support
              for their leadership development
            </li>
            <li>
              contributing to Camp operations including set up and cleanup of all camp activities, meals, and complete
              participation at required events
            </li>
          </ul>
          <button class="btn" routerLink="/applications">Apply!</button>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="false">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
          aria-controls="collapseSeven">
          <strong>
            Program Director
          </strong>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
          <strong>Requirements:</strong>
          <ul>
            <li>
              Must be 25 years or older
            </li>
            <li>
              Must have great leadership skills
            </li>
            <li>
              Must be patient under stress
            </li>
            <li>
              Must be creative and flexible
            </li>
            <li>
              Must have great collaboration and communication skills
            </li>
            <li>
              Must be organized and well directed
            </li>
            <li>
              Must have experience working with children/youth/teens/adults
            </li>
            <li>
              Must have experience working in a group and team building
            </li>
          </ul>
          <strong>Job Description:</strong> <br>
          Please call <a href="tel:510.871.3659" style="color: darkgreen">(510.871.3659)</a> or email <a
            href="info@campitup.org" style="color: darkgreen">(info@campitup.org)</a>
          directly if you are interested in this position.
        </div>
      </div>
    </div>
  </div>
</div>
