<footer class="">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 mx-auto">
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">
					Discover Camp It Up!
				</h5>
				<p>
					The family camp you've been looking for. For almost 30 years, we’ve been known as a one-of-a-kind LGBTQ+ family vacation spot. We respect and celebrate all unique families and we welcome you to find out more and join us this winter and summer.
				</p>
			</div>
			<hr class="clearfix w-100 d-md-none">
			<div class="col-md-2 mx-auto">
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">
					Contact 
				</h5>
				<ul class="list-unstyled">
					<li>
						510.871.3659 
					</li>
					<li>
						(510.UR1.FMLY)
					</li>
					<li>
						info@campitup.org
					</li>
					<li>
						Tax ID number: 26-2733972
					</li>
				</ul>
			</div>
			<hr class="clearfix w-100 d-md-none">
			<div class="col-md-2 mx-auto">
				<h5 class="font-weight-bold text-uppercase mt-3 mb-4">
					Address 
				</h5>
				<ul class="list-unstyled">
					<li>
						3526 Redding Street
					</li>
					<li>
						Oakland, CA 
					</li>
					<li>
						94619
					</li>
					<li>
						USA
					</li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="text-align: center">
		TIME TILL SUMMER CAMP: 
	</h5>
	<div id="clockdiv">
		<div>
			<span class="days"></span>
			<div class="smalltext">Days</div>
		</div>
		<div>
			<span class="hours"></span>
			<div class="smalltext">Hours</div>
		</div>
		<div>
			<span class="minutes"></span>
			<div class="smalltext">Minutes</div>
		</div>
		<div>
			<span class="seconds"></span>
			<div class="smalltext">Seconds</div>
		</div>
	</div>
	<div class="row footer-copyright">
		<div class="col" style="text-align: left">
			© 2019 Copyright: Camp It Up!
		</div>
		<div class="col">
			<ul class="list-unstyled list-inline text-center">
				<li class="list-inline-item">
					<a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/campitup" target="_blank">
						<i class="fa fa-facebook"> </i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn-floating btn-fb mx-1" href="https://twitter.com/campitupinc" target="_blank">
						<i class="fa fa-twitter"> </i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn-floating btn-fb mx-1" href="https://www.instagram.com/campitup/" target="_blank">
						<i class="fa fa-instagram"> </i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn-floating btn-fb mx-1" href="https://www.linkedin.com/company/18426295/" target="_blank">
						<i class="fa fa-linkedin"> </i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn-floating btn-fb mx-1" href="https://www.youtube.com/channel/UCJ7H6oEwFnGgMupD8m4e3GQ?" target="_blank">
						<i class="fa fa-youtube"> </i>
					</a>
				</li>
			</ul>
		</div>
		<div class="col" style="text-align: right">
			<a routerLink="/conditions" style="color: black">
				Conditions of Use
			</a>
		</div>
		<div class="col" style="text-align: right">
			<a routerLink="/careers" style="color: black">
				Careers
			</a>
		</div>
	</div>
</footer>
