footer {
	background: #48B356;
}
.footer-copyright {
	background: #27974E;
	padding: 10px 6%;
}
.btn-floating {
	color: black;
}
.btn-floating:hover {
	color: white;
}
.fa {
	font-size: 2em;
}
.row {
	margin: 0;
}
#clockdiv {
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	width: 100%;
	margin-bottom: 18px;
}
#clockdiv > div {
/*	border-radius: 3px;*/
	background: rgba(255, 255, 255, 0.26);
	padding: 12px;
	display: inline-block;
}
#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #27974E;
	display: inline-block;
}
.smalltext{
	padding-top: 5px;
	font-size: 16px;
}