<div class="container">
	<h1>
		What to Bring
	</h1>
	<p>
		You’re coming to camp! Here’s some information to help you get ready.
	</p>
	<p>
		This is going to sound like a lot of stuff and it is, but don’t rent that U-Haul just yet. We’ll try to break it down for you into what’s necessary and what’s gravy and don’t forget that there’s laundry facilities at camp and stores in town.
	</p>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="border-container m-2">
				<h2>
					For Your Cabin and Basic Use
				</h2>
				<ul>
					<li>
						<input type="checkbox">
						Bedding/sleeping bags (most cots are single/some double)
					</li>
					<li>
						<input type="checkbox">
						Tarp if you’re putting your mattresses on the floor
					</li>
					<li>
						<input type="checkbox">
						Flashlight
					</li>
					<li>
						<input type="checkbox">
						Towels, soap and toilet articles
					</li>
					<li>
						<input type="checkbox">
						Sunscreen

					</li>
					<li>
						<input type="checkbox">
						Warm clothes for evening and early mornings
					</li>
					<li>
						<input type="checkbox">
						Shorts and t-shirts
					</li>
					<li>
						<input type="checkbox">
						Closed-toed shoes and sandals
					</li>
					<li>
						Extras:
						<ul>
							<li>
								<input type="checkbox">
								Porta-crib/playpen for babies/toddlers
							</li>
							<li>
								<input type="checkbox">
								Air mattress
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="border-container m-2">
				<h2>
					For the Water
				</h2>
				<ul>
					<li>
						<input type="checkbox">
						Bathing suits
					</li>
					<li>
						<input type="checkbox">
						Beach towels
					</li>
					<li>
						Extras:
						<ul>
							<li>
								<input type="checkbox">
								Beach chairs
							</li>
							<li>
								<input type="checkbox">
								Rafts
							</li>
							<li>
								<input type="checkbox">
								Inner tubes
							</li>
							<li>
								<input type="checkbox">
								Water shoes
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="border-container m-2">
				<h2>
					For the Children’s Program
				</h2>
				<ul>
					<li>
						<input type="checkbox">
						Daypack
					</li>
					<li>
						<input type="checkbox">
						Sunscreen
					</li>
					<li>
						<input type="checkbox">
						Water bottle
					</li>
					<li>
						<input type="checkbox">
						Water shoes for kids 5+
					</li>
					<li>
						<input type="checkbox">
						Sleeping bag, mat and flashlight for the overnight for kids 7+
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="border-container m-2">
				<h2>
					For Tie-Dye
				</h2>
				<ul>
					<li>
						<input type="checkbox">
						100% cotton articles (clothes, pillowcases, etc.)*
						<ul>
							<li>
								*We also sell "whites" at camp
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="border-container m-2">
				<h2>
					Bikes 
				</h2> 
				<ul>
					<li>
						<input type="checkbox">
						Biking is great in and around camp!
					</li>
					<li>
						<input type="checkbox">
						Helmets are required for children biking in camp
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="border-container m-2">
				<h2>
					Sports and Games
				</h2>
				<ul>
					<li>
						<input type="checkbox">
						Baseballs, gloves and bats
					</li>
					<li>
						<input type="checkbox">
						Your family’s favorite games to share at evening Dining Hall fun
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="border-container m-2">
				<h2>
					Musical Instruments and Creative Arts
				</h2>
				<ul>
					<li>
						<input type="checkbox">
						Whatever you need for the Talent Show!
						<ul>
							<li>
								<input type="checkbox">
								Guitar
							</li>
							<li>
								<input type="checkbox">
								Congas
							</li>
							<li>
								<input type="checkbox">
								Bongos
							</li>
							<li>
								<input type="checkbox">
								Etc.
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="border-container m-2">
				<h2>
					Miscellaneous
				</h2>
				<ul>
					<li>
						<input type="checkbox">
						Lawn chairs and loungers welcome for our Patio “Living Room” (Everyone shares!)
					</li>
					<li>
						<input type="checkbox">
						Sturdy walking shoes
					</li>
					<li>
						<input type="checkbox">
						Costumes for the dances
					</li>
					<li>
						<input type="checkbox">
						Quarters for laundry
					</li>
					<li>
						<input type="checkbox">
						If you need to bring insect repellent, please try to find the most natural insect repellent possible.
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="border-container no m-2">
				<h2 class="no-header">
					<strong>DO NOT BRING</strong>
				</h2>
				<ul>
					<li>
						<span class="fa fa-times"></span>
						Pets
					</li>
					<li>
						<span class="fa fa-times"></span>
						Firearms
					</li>
					<li>
						<span class="fa fa-times"></span>
						Skateboards
					</li>
					<li>
						<span class="fa fa-times"></span>
						Candles
					</li>
					<li>
						<span class="fa fa-times"></span>
						Kerosense lamps
					</li>
				</ul>
			</div>
		</div>
	</div>