.border-container {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	background: rgba(72, 179, 86, 0.23);
	/*	margin: 1% 1%;*/
	padding: .5% 3%;
}
ul {
	list-style-type: none;
	padding: 0;
	padding-left: 6%;
	padding-right: 2%;
}
li ul li {
	padding-left: 10%;
}
h2 {
	border: none;
	color: white;
	background: #27974E;
	padding: 2% 5%;
	border-radius: 1px;
	margin: 6% -5% 3%;
}
input[type="checkbox"] {
	margin-right: 2%;
}
.fa {
	color: red;
}
.no {
	background: rgba(255, 0, 0, 0.41);
}
.no-header {
	background: red;
}