<div class="container">
	<h1>
		Directions
	</h1>
	<p>
		Feather River Camp is located at <a href="https://www.google.com/maps/place/5469+Oakland+Camp+Rd,+Quincy,+CA+95971/@39.984271,-120.9085977,17z/data=!3m1!4b1!4m5!3m4!1s0x809cff663b07fa49:0x64cfb546bd4e2858!8m2!3d39.984271!4d-120.906409" target="_blank">5469 Oakland Camp Road, Quincy CA 95971</a>.
	</p>
	<iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBNoH5KZIQzr_wAGivfQwuMSiK_M9WJ1Tk&zoom=7&q=5469+Oakland+Camp+Road,+Quincy+CA+95971" allowfullscreen>
	</iframe>
	<h2>
		Driving Directions from San Francisco/Oakland/Berkeley
	</h2>
	<div class="card m-3">
		<div class="card-body">
			<div class="row mt-1">
				<div class="col-md-12">
					<ul class="stepper stepper-vertical">
						<h3>
							Basic Route
						</h3>
						<li>
							<div class="steps">
								<span class="circle">1</span>
								<span class="label">Head out!</span>
							</div>
							<div class="step-content grey lighten-3">
								<p>
									Take 80 east to Truckee and head north on State Route 89.
								</p>
							</div>
						</li>
						<li>
							<div class="steps">
								<span class="circle">2</span>
								<span class="label">Get to Quincy!</span>
							</div>
							<div class="step-content grey lighten-3">
								<p>
									Take 70 north which will take you right into Quincy.
								</p>
							</div>
						</li>
						<li>
							<div class="steps">
								<span class="circle">3</span>
								<span class="label">Almost there!</span>
							</div>
							<div class="step-content grey lighten-3">
								<p>
									Just before town, you’ll see Chandler Road. Take a right onto Chandler Road which will ( a few miles up) take you into camp!
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="card m-3">
		<div class="card-body">
			<div class="row mt-1">
				<div class="col-md-12">
					<ul class="stepper stepper-vertical">
						<h3>
							Staff Favorite Route (a bit more complicated, but a bit shorter)
						</h3>
						<li>
							<div class="steps">
								<span class="circle">1</span>
								<span class="label">Head out!</span>
							</div>
							<div class="step-content grey lighten-3">
								<p>
									Take I-80 east to I-505 North (Vacaville). I-505 connects to I-5 North.
								</p>
							</div>
						</li>
						<li>
							<div class="steps">
								<span class="circle">2</span>
								<span class="label">Get to Road 595!</span>
							</div>
							<div class="step-content grey lighten-3">
								<p>
									Take I-5 North, past the turnoff for Route 20, to Road 595/Princeton Road.
								</p>
							</div>
						</li>
						<li>
							<div class="steps">
								<span class="circle">3</span>
								<span class="label">The scenic part!</span>
							</div>
							<div class="step-content grey lighten-3">
								<p>
									Go east for about 15 minutes (it’s very pretty). The road becomes Norman Road and dead-ends at Hwy 45 (you won’t see a road sign with a number there). Make a left onto 45.
								</p>
							</div>
						</li>
						<li>
							<div class="steps">
								<span class="circle">4</span>
								<span class="label">Head to Oroville!</span>
							</div>
							<div class="step-content grey lighten-3">
								<p>
									Go a few miles up the road and turn right at the stop sign. That will be route 162. At one point, 162 makes a left onto Route 99 and then another right to continue on 162 towards Oroville. (Just keep following the Oroville signs.)
								</p>
							</div>
						</li>
						<li>
							<div class="steps">
								<span class="circle">5</span>
								<span class="label">To the Canyon!</span>
							</div>
							<div class="step-content grey lighten-3">
								<p>
									At Oroville, you connect with I-70 North to Quincy, which will take you up through the Feather River Canyon.
								</p>
							</div>
						</li>
						<li>
							<div class="steps">
								<span class="circle">6</span>
								<span class="label">Almost there!</span>
							</div>
							<div class="step-content grey lighten-3">
								<p>
									Approximately five miles before Quincy, watch for a sign that reads Chandler Road/Oakland Camp.
								</p>
							</div>
						</li>
						<li>
							<div class="steps">
								<span class="circle">7</span>
								<span class="label">You made it!</span>
							</div>
							<div class="step-content grey lighten-3">
								<p>
									Turn left and continue for about four miles to Oakland Feather River Camp. End at 5469 Oakland Camp Road, Quincy CA 95971 and you are there!
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
