<div id="acts-table">
	<div class="row justify-content-md-center">
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<img src="https://img.icons8.com/ultraviolet/80/000000/marathon-swimming.png" />
			<h3>At the River</h3>
			<p>Swimming and floating in beautiful Spanish Creek at the camp beach or one of the many nearby swimming holes is a favorite camp activity.</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<img src="https://img.icons8.com/ultraviolet/96/000000/paint-palette.png" />
			<h3>Arts &amp; Crafts</h3>
			<p>Tie-dye, silk-painting and lots more.</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<img src="https://img.icons8.com/ultraviolet/80/000000/medium-icons.png" />
			<h3>Specialty Crafts</h3>
			<p>Carpentry and mosaic tiling.</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<img src="https://img.icons8.com/ultraviolet/80/000000/filled-flag.png" />
			<h3>Sports &amp; Games</h3>
			<p>We love to play! Softball, Quidditch, Capture the Flag and more.</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<img src="https://img.icons8.com/ultraviolet/80/000000/forest.png" />
			<h3>Biking, Hiking &amp; Nature Studies</h3>
			<p>It’s so easy to explore this beautiful area on foot and by bicycle.</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<img src="https://img.icons8.com/ultraviolet/80/000000/theatre-mask.png" />
			<h3>Music, Dance &amp; Theater</h3>
			<p>Children and adults participate in the Camp musical revue, camper chorus and talent show.</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<img src="https://img.icons8.com/ultraviolet/80/000000/filled-star.png" />
			<h3>Special Programs</h3>
			<p>Children’s parade and carnival, Floatilla and more.</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<img src="https://img.icons8.com/ultraviolet/80/000000/night-landscape.png" />
			<h3>Evening Programs</h3>
			<p>Each evening features an all-camp family activity (we have the best dances ever!).</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<img src="https://img.icons8.com/ultraviolet/80/000000/spa-flower.png" />
			<h3>For the Body &amp; Soul</h3>
			<p>Massage, pilates, yoga, spa day.</p>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<img src="https://img.icons8.com/ultraviolet/80/000000/rainbow.png" />
			<h3>Activities that Defy Categorization</h3>
			<p>This is what makes Camp It Up! so special! Hair coloring? House Beautiful?</p>
		</div>
	</div>
</div>