<div class="container">
	<h1>
		Summer Camp
	</h1>
	<h2>
		Location
	</h2>
	<p>
		Summer Camp is located at <a target="_blank" href="http://featherrivercamp.com">Oakland Feather River Camp</a> in Quincy, CA. We have the camp to ourselves for our entire stay. We also bring in our own program staff of counselors and CITs and specialists in addition to the Feather River staff.
	<p>
	<h2>
		Programs
	</h2>
	<div class="row justify-content-md-center" style="margin-top: 15px;">
		<div class="col-3">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action selected" (click)="changeTab('list-children', 'children')" id="children">Children (Ages 1 to 12)</a>
				<a class="list-group-item list-group-item-action" (click)="changeTab('list-teens', 'teens')" id="teens">Teen Program (Ages 13 & 14 grade while accompanies by their families)</a>
				<a class="list-group-item list-group-item-action" (click)="changeTab('list-cit', 'cit')" id="cit">Counselor-In-Training Program (Ages 15 to 17)</a>
				<a class="list-group-item list-group-item-action" (click)="changeTab('list-adults', 'adults')" id="adults">Adults</a>
				<a class="list-group-item list-group-item-action" (click)="changeTab('list-volunteer', 'volunteer')" id="volunteer">Pitching In</a>
			</div>
		</div>
		<div class="col-8">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane" id="list-children" style="display: block">
					<p>Camp It Up! is well-known for its exciting children’s program. Children meet daily (except for the Counselors’ day off) in age-clustered groups. Each group is led by a Senior Counselor, a Junior Counselor and a Counselor-in-Training. Specialists in Art, Music, Dance, Nature, Drama and Sports work with the children’s groups as well.</p>
					<p>Children’s groups meet on most days from 9:30 to noon. They also meet on two evenings for an hour while the adults get to relax at an adults-only dinner. On one evening, the younger kids groups get together for pajama parties and older kids do an overnight (still on the camp grounds).</p>
					<p>The children’s groups also participate in all-camp special theme day activities as well as other special activities throughout the week.</p>
					<p>Camp it Up! is a village about children and you can hear their happy voices, singing, laughing, throughout camp. Your kids will feel free at camp… it’s as life should be.</p>
				</div>
				<div class="tab-pane" id="list-teens">
					<p>Camp It Up’s teens participate in creative and performing arts, sports, overnights, crafts activities and much more. Often, carpentry crafts and participation in a ropes course are included in the week’s program. Camp teens inevitably spend many hours outside the actual program time just hanging out with each other, talking, going down the creek to the rope swing, laughing and finding close friendships. Teens are encouraged to explore their relationships to peers, family and community. Our excellent teen program staff know how to encourage teens to feel comfortable, to share their energies and creativity, and to facilitate an inclusive group sense.</p>
				</div>
				<div class="tab-pane" id="list-adults">
					<p>Camp offers opportunities for adults to meet, play together, socialize, discuss common concerns and build community.</p>
					<p>Activities might include (but are not limited to): Visual and Creative Arts, Instrumental and Vocal Music, Theater, Sports, Healing Arts, Specialty Crafts, Workshops, Orientation Sessions for first-time campers.</p>
					<p>Of course, all activities are optional. Many adults choose to sit in the center of camp, comfortably perched on a chaise lounge, reading, snacking, schmoozing, listening to the sounds of birds or drummers or children laughing.</p>
				</div>
				<div class="tab-pane" id="list-cit">
					<p>The CIT Leadership Development Program is available to teens entering their sophomore and junior years in High School. CIT’s live and work with camp staff under the guidance of the CIT Supervisor.</p>
					<p>They work with an experienced counselor in the children’s program, or in one of the specialty areas: music, crafts, sports or drama. They also organize and present evening programs and special events.</p>
					<p>Our CIT program is very popular so we suggest that you apply for space in this program as early as possible.</p>
					<p>To apply for a space in this program, please email campitupmail@gmail.com</p>
					<p>CIT program fees: $560/1st year participant; $500/2nd year participant.</p>
				</div>
				<div class="tab-pane" id="list-volunteer">
					<p>Camp It Up! is a village – communal and happy. Most everyone (adults who are able) jumps in by helping in some part of the camp program, pitching in for two to four hours during the week. What might you be doing? Assisting with a meal set-up, organizing and leading a bike ride, yoga class, discussion, maybe helping out with the Camp musical. We’ll ask ahead of time what you’d like to do and when. Campers enjoy participating actively in our community through our Co-op Program.</p>
				</div>
			</div>
		</div>
	</div>
	<h2>
		Activities
	</h2>
	<p>
		Activities are offered for everyone in the family. Some activities are for children only and some are for adults to enjoy; many activities are planned for the entire family. All activities are optional. Here’s a few highlights.
	</p>
	<div class="row justify-content-md-center">
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<div class="card">
				<img class="card-img-top" src="https://img.icons8.com/ultraviolet/80/000000/marathon-swimming.png" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">At the River</p>
				</div>
				<p class="card-description">Swimming and floating at Spanish Creek, the camp beach, or one of the many nearby swimming holes is a favorite camp activity.</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<div class="card">
				<img class="card-img-top" src="https://img.icons8.com/ultraviolet/96/000000/paint-palette.png" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Arts &amp; Crafts</p>
				</div>
				<p class="card-description">Tie-dye, silk-painting and lots more.</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<div class="card">
				<img class="card-img-top" src="https://img.icons8.com/ultraviolet/80/000000/medium-icons.png" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Specialty Crafts</p>
				</div>
				<p class="card-description">Carpentry and mosaic tiling.</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<div class="card">
				<img class="card-img-top" src="https://img.icons8.com/ultraviolet/80/000000/filled-flag.png"alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Sports &amp; Games</p>
				</div>
				<p class="card-description">We love to play! Softball, Quidditch, Capture the Flag and more.</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<div class="card">
				<img class="card-img-top"src="https://img.icons8.com/ultraviolet/80/000000/forest.png"alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Biking, Hiking &amp; Nature Studies</p>
				</div>
				<p class="card-description">It’s so easy to explore this beautiful area on foot and by bicycle.</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<div class="card">
				<img class="card-img-top" src="https://img.icons8.com/ultraviolet/80/000000/theatre-mask.png"alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Music, Dance &amp; Theater</p>
				</div>
				<p class="card-description">Children and adults participate in the Camp musical revue, camper chorus and talent show.</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<div class="card">
				<img class="card-img-top" src="https://img.icons8.com/ultraviolet/80/000000/filled-star.png"alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Special Programs</p>
				</div>
				<p class="card-description">Children’s parade and carnival, Floatilla and more.</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<div class="card">
				<img class="card-img-top" src="https://img.icons8.com/ultraviolet/80/000000/night-landscape.png"alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Evening Programs</p>
				</div>
				<p class="card-description">Each evening features an all-camp family activity (we have the best dances ever!).</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<div class="card">
				<img class="card-img-top" src="https://img.icons8.com/ultraviolet/80/000000/spa-flower.png"alt="Card image cap">
				<div class="card-body">
					<p class="card-text">For the Body &amp; Soul</p>
				</div>
				<p class="card-description">Massage, pilates, yoga, spa day.</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3" align="center">
			<div class="card">
				<img class="card-img-top" src="https://img.icons8.com/ultraviolet/80/000000/rainbow.png"alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Activities that Defy Categorization</p>
				</div>
				<p class="card-description">This is what makes Camp It Up! so special! Hair coloring? House Beautiful?</p>
			</div>
		</div>
	</div>
	<!--	//TODO: add images to background-->
</div>