<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 80px; margin-bottom: 30px;">
	<div class="d-flex flex-grow-1" style="padding-left: 2%">
		<a class="navbar-brand" href="#">
			<img routerLink="/dashboard" src="../../assets/camp_logo.png" height="100" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse ml-auto w-100 justify-content-end" id="navbarNavAltMarkup" style="padding-right: 5%">
		<ul class="navbar-nav">
			<li class="nav-item active dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="aboutLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					About<span class="sr-only">(current)</span></a>
				<div class="dropdown-menu" aria-labelledby="aboutLink">
					<a class="dropdown-item" href="#">Overview</a>
					<a class="dropdown-item" href="#">Mission/History</a>
					<a class="dropdown-item" href="#">Board of Directors</a>
					<a class="dropdown-item" href="#">Staff</a>
					<a class="dropdown-item" href="#">Lodging</a>
					<a class="dropdown-item" href="#">Dining</a>
					<a class="dropdown-item" href="#">Medical</a>
				</div>
			</li>
			<li class="nav-item active dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="programsLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Programs</a>
				<div class="dropdown-menu" aria-labelledby="programsLink">
					<a class="dropdown-item" routerLink="/summer-programs">Summer Camp</a>
					<a class="dropdown-item" routerLink="/winter-programs"href="#">Winter Camp</a>
				</div>
			</li>
			<li class="nav-item active dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="registrationLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Registration</a>
				<div class="dropdown-menu" aria-labelledby="registrationLink">
					<a class="dropdown-item" href="#">Summer Camp 2019 Registration Coming Soon</a>
					<a class="dropdown-item" href="#">Dates and Fees</a>
					<a class="dropdown-item" href="#">Forms</a>
				</div>
			</li>
			<li class="nav-item active dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="donateLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Donate</a>
				<div class="dropdown-menu" aria-labelledby="donateLink">
					<a class="dropdown-item" href="#">Donate Online Now</a>
					<a class="dropdown-item" href="#">Download and Print Mail-In Donation</a>
					<a class="dropdown-item" href="#">Join the CAMPaign</a>
					<a class="dropdown-item" href="#">Non-Profit Status</a>
				</div>
			</li>
			<li class="nav-item active dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="readyLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Getting Ready</a>
				<div class="dropdown-menu" aria-labelledby="readyLink">
					<a class="dropdown-item" href="#">Directions</a>
					<a class="dropdown-item" href="#">Weather</a>
					<a class="dropdown-item" href="#">What to Bring</a>
					<a class="dropdown-item" href="#">Camp Songs</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Camp News</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact Us</a>
			</li>
		</ul>
	</div>
</nav>