<div class="container">
	<h1>
		Dining
	</h1>
	<img src="../../assets/dining.jpg" class="rounded float-left">
	<p>
		Delicious, bountiful and healthy meals are served, buffet-style, each day. Vegetarian and dairy-free meals are readily available; most special diets can also be accommodated by the camp Food Service Manager. We offer bag lunches, prepared for those who plan to go out of camp during the noon meal. And twice during camp, we have a children’s dinner first, then a peaceful “adults-only” dinner, while the staff run a special evening children’s program. Needless to say, the adults-only meals are a camper favorite! For the in-between times, coffee, tea, cocoa and snacks are available in the Dining Hall, starting at 7am each morning.
	</p>
	<p>
		If you need to bring particular food for yourself or your children, there is a special camper kitchen where you can store your food. If you have particular food needs, please feel free to contact the Director to discuss the menu with her prior to camp.
	</p>
</div>