<div class="container">
	<h1>
		Contact Us!
	</h1>
	<p>
		Feel free to contact us with any questions or concerns!
	</p>
	<a href="tel:510.871.3659" class="fa fa-phone-square">510.UR1.FMLY</a> <br>
	<a href="https://www.google.com/maps/place/3526+Redding+St,+Oakland,+CA+94619/@37.79277,-122.2029773,17z/data=!3m1!4b1!4m5!3m4!1s0x808f8648f26d30f1:0x954eec553e5dd9!8m2!3d37.79277!4d-122.2007886" target="_blank" class="fa fa-envelope-square">3526 Redding Street, Oakland, CA 94619</a> <br>
	<a href="mailto:campitupmail@gmail.com" class="fa fa-map-marker">campitupmail@gmail.com</a> <br>
</div>