<div class="container">
  <h1>2020 Summer Registration!</h1>
  <hr>
  <h2>Welcome to Camp It Up!</h2>
  <p>
    We are thrilled to welcome you to our Summer 2020 Camp It Up! session. This is our online registration page where
    you can sign up for camp, pay for camp, donate to camp, and fill out the necessary forms before arrival. If you have
    any questions or concerns regarding registration, please contact Lisa Zeiler (lisazeilermusic@gmail.com) or Lisa
    Angelot (lange16093@aol.com) directly.
  </p>
  <p>
    We are especially excited to welcome new campers to our community! Camp It Up is the first LGBTQ+ and allies summer
    family camp and we are so excited you found us. We are also so happy to see our returning campers back. Thank you
    for your continued support and commitment to our community. It is going to be a fun camp!
  </p>
  <p>
    Important news! Our rate structure has changed this year. We have moved to a two-tiered rate structure. We ask that
    families pay at the highest rate possible. Like last year we are offering a 5% early bird discount if you register
    and pay in full by April 1st.
  </p>
  <p>
    If the Camp It Up! 2020 rates are out of reach for your family, please fill out the campership application. <a target="_blank"
      href="https://www.ultracamp.com/forms.aspx?idF=17144">(https://www.ultracamp.com/forms.aspx?idF=17144)</a>. We
    will carefully consider each application. Please fill out the campership application before
    continuing with this registration.
  </p>
  <h3>2020 Camp It Up Nightly Rates</h3>
  <div class="row" style="color: white; background: #27974E;">
    <div class="col-6">
      <strong>
        Category
      </strong>
    </div>
    <div class="col-3">
      <strong>
        Upper
      </strong>
    </div>
    <div class="col-3">
      <strong>
        Lower
      </strong>
    </div>
  </div>
  <div class="row rows">
    <div class="col-6">
      Adult (18+)
    </div>
    <div class="col-3">
      $131
    </div>
    <div class="col-3">
      $118
    </div>
  </div>
  <div class="row rows">
    <div class="col-6">
      Teen
    </div>
    <div class="col-3">
      $124
    </div>
    <div class="col-3">
      $111
    </div>
  </div>
  <div class="row rows">
    <div class="col-6">
      School Age (5-11)
    </div>
    <div class="col-3">
      $116
    </div>
    <div class="col-3">
      $104
    </div>
  </div>
  <div class="row rows">
    <div class="col-6">
      Preschool (1-4)
    </div>
    <div class="col-3">
      $100
    </div>
    <div class="col-3">
      $89
    </div>
  </div>
  <div class="row rows">
    <div class="col-4">
      Infant (under 1)
    </div>
    <div class="col-8" style="text-align: center;">
      No Charge
    </div>
  </div>
  <div class="row rows">
    <div class="col-4">
      Counselor In Training Year 1 <br>
      Program Fee
    </div>
    <div class="col-8" style="text-align: center;">
      $590
    </div>
  </div>
  <div class="row rows">
    <div class="col-4">
      Counselor In Training Year 2 <br>
      Program Fee
    </div>
    <div class="col-8" style="text-align: center;">
      $530
    </div>
  </div>

  <p> We can’t wait to see you at Camp It Up! 2020 </p>

  Lisa Zeiler, Camp Director (lisazeilermusic@gmail.com) <br>
  Lisa Angelot, Administrative Director (lange16093@aol.com)

  <br>
  <a class="btn mt-3 mb-5" href="https://www.ultracamp.com/info/upcomingsessions.aspx?idCamp=786&campCode=mwf"
    target="_blank">Go
    to Registration</a>
  <br>
</div>
