<h1>
	Forms
</h1>
<p>
	All  forms are now filled out through Ultra Camp, our on line registration system.  So no need to use these paper forms any longer.  These are here just in case.
</p>
<p>
	NOTE: You will need Adobe Acrobat Reader installed on your computer to fill out the forms (PDF). If you need Acrobat Reader, click <a href="https://get.adobe.com/reader/">here</a> for the FREE Reader download. Then click below to open each form.
</p>
<ul>
	<li>Medical Information Form </li>
	<li>Summer Camper Preference Form</li>
	<li>Getting to Know the Camper Form</li>
	<li>Release of Liability Form</li>
	<li>Download Brochure</li>
	//TODO: add links to pdfs
</ul>
<p>
	All Summer forms must be received no later than July 14, 2018! Please complete and email or mail them to:
</p>
<p>
	Camp It Up Inc. <br>
	3526 Redding Street <br>
	Oakland, CA 94619 <br>
	info@campitup.org <br>
</p>
<p>
	Make checks out to: Camp It Up Inc.
</p>