<div class="container">
	<h1>
		Forms
	</h1>
	<p>
		All  forms are now filled out through Ultra Camp, our on line registration system.  So no need to use these paper forms any longer.  These are here just in case.
	</p>
	<p>
		<strong>NOTE:</strong> You will need Adobe Acrobat Reader installed on your computer to fill out the forms (PDF) online. If you need Acrobat Reader, click <a href="https://get.adobe.com/reader/" target="_blank">here</a> for the FREE Reader download. Then click below to open each form. Or, print and fill them out manually.
	</p>
	<ul>
		<li class="fa fa-check">
			<a href="./assets/WC2017Medical_Form.pdf" target="_blank">
				Medical Information Form
			</a>
		</li>
		<br>
		<li class="fa fa-check">
			<a href="./assets/preference_2016.pdf" target="_blank">
				Summer Camper Preference Form
			</a>
		</li>
		<br>
		<li class="fa fa-check">
			<a href="./assets/WC2017_Camper_Info%20copy.pdf" target="_blank">
				Getting to Know the Camper Form
			</a>
		</li>
		<br>
		<li class="fa fa-check">
			<a href="./assets/WC2017_Release.pdf" target="_blank">
				Release of Liability Form
			</a>
		</li>
		<br>
		<li class="fa fa-check">
			<a href="./assets/brochure2007.pdf" target="_blank">
				Download Brochure
			</a>
		</li>
	</ul>
	<p>
		All summer forms must be received no later than July 14, 2020! Please complete and email or mail them to:
	</p>
	<p style="margin-left: 5%">
		Camp It Up Inc. <br>
		3526 Redding Street <br>
		Oakland, CA 94619 <br>
		info@campitup.org <br>
	</p>
	<p>
		Make checks out to: <strong>Camp It Up Inc.</strong>
	</p>
</div>
