<div class="container">
  <h1>
    Summer Camp Dates and Fees
  </h1>
  <div id="dates">
    <h2>
      Dates
    </h2>
    <p>
      Choose the length of stay that best suits your needs!
    </p>
    <p>
      <strong style="border-bottom: 1px solid #27974E">Stay 8 nights:</strong> July 25 – August 2 (arrive Saturday
      –
      leave Sunday)
    </p>
    <p>
      <strong style="border-bottom: 1px solid #3333ff">Stay 4 nights:</strong> July 25 – July 29 (arrive Saturday
      –
      leave Wednesday)
    </p>
    <p>
      <strong style="border-bottom: 1px solid #660066">Stay 4 nights:</strong> July 29 – August 2 (arrive
      Wednesday –
      leave Sunday)
    </p>
    <br>
    <div class="row" style="border-bottom: 1px solid black; text-align: center">
      <div class="col d-none d-md-block">
        Monday
      </div>
      <div class="col d-none d-md-block">
        Tuesday
      </div>
      <div class="col d-none d-md-block">
        Wednesday
      </div>
      <div class="col d-none d-md-block">
        Thursday
      </div>
      <div class="col d-none d-md-block">
        Friday
      </div>
      <div class="col d-none d-md-block">
        Saturday
      </div>
      <div class="col d-none d-md-block">
        Sunday
      </div>

      <div class="col d-md-none">
        M
      </div>
      <div class="col d-md-none">
        T
      </div>
      <div class="col d-md-none">
        W
      </div>
      <div class="col d-md-none">
        T
      </div>
      <div class="col d-md-none">
        F
      </div>
      <div class="col d-md-none">
        S
      </div>
      <div class="col d-md-none">
        S
      </div>
    </div>
    <div class="row calendar">
      <div class="col grey">
        <div class="num">
          July 20
        </div>
      </div>
      <div class="col grey">
        <div class="num">
          21
        </div>
      </div>
      <div class="col grey">
        <div class="num">
          22
        </div>
      </div>
      <div class="col grey">
        <div class="num">
          23
        </div>
      </div>
      <div class="col grey">
        <div class="num">
          24
        </div>
      </div>
      <div class="col">
        <div class="num">
          25
        </div>
        <div class="opt-1"></div>
        <div class="opt-2"></div>
      </div>
      <div class="col">
        <div class="num">
          26
        </div>
        <div class="opt-1"></div>
        <div class="opt-2"></div>
      </div>
    </div>
    <div class="row calendar">
      <div class="col">
        <div class="num">
          27
        </div>
        <div class="opt-1"></div>
        <div class="opt-2"></div>
      </div>
      <div class="col">
        <div class="num">
          28
        </div>
        <div class="opt-1"></div>
        <div class="opt-2"></div>
      </div>
      <div class="col">
        <div class="num">
          29
        </div>
        <div class="opt-1"></div>
        <div class="opt-2"></div>
        <div class="opt-3"></div>
      </div>
      <div class="col">
        <div class="num">
          30
        </div>
        <div class="opt-1"></div>
        <div class="opt-3 top-space"></div>
      </div>
      <div class="col">
        <div class="num">
          31
        </div>
        <div class="opt-1"></div>
        <div class="opt-3 top-space"></div>
      </div>
      <div class="col">
        <div class="num">
          Aug 1
        </div>
        <div class="opt-1"></div>
        <div class="opt-3 top-space"></div>
      </div>
      <div class="col">
        <div class="num">
          2
        </div>
        <div class="opt-1"></div>
        <div class="opt-3 top-space"></div>
      </div>
    </div>
    <br>
  </div>
  <div id="deadlines">
    <h2 style="margin-bottom: 20px">
      Deadlines
    </h2>
    <div class="row" style="color: white; background: #27974E">
      <div class="col-4">
        <strong>
          Date
        </strong>
      </div>
      <div class="col-9">
        <strong>
          Deadline
        </strong>
      </div>
    </div>
    <div class="row rows">
      <div class="col-4 deadline past-date">
        December 31, 2019
      </div>
      <div class="col-9 past-date">
        <strong>Early Bird Incentive</strong> <br>
        If you register and pay 100% of registration fees by December 31, 2020, you will receive a 5% discount
        on
        your total registration fees. <br>
        <strong>NOTE:</strong> Fees may increase after January 1, 2019, if you register before December 31,
        2020,
        you will be getting the lower fees, plus the 5% discount!
      </div>
    </div>
    <div class="row rows">
      <div class="col-4 deadline past-date">
        April 13, 2020
      </div>
      <div class="col-9 past-date">
        <strong>Register with 25% of total fees due</strong> <br>
        We encourage you to register by April 13 to ensure a space for your family. Spaces may be available
        through
        mid-July but are not guaranteed. Please email <a class="email" href="mailto:info@campitup.org"
          target="_top">info@campitup.org</a> to inquire about space available in June and July.
      </div>
    </div>
    <div class="row rows">
      <div class="col-4 deadline">
        May 1, 2020
      </div>
      <div class="col-9">
        <strong>Registration Fee Increase</strong><br>
        Registration fees will increase 5% across the board May 1, 2020. If you'd like to pay last year's lower
        rates, register for camp before May 1st!
      </div>
    </div>
    <div class="row rows">
      <div class="col-4 deadline">
        June 21, 2020
      </div>
      <div class="col-9">
        <strong>ALL REGISTRATION FEES DUE <br>
          Any new registrations made after this date are due in full at the time of registration.</strong>
      </div>
    </div>
    <div class="row rows">
      <div class="col-4 deadline">
        July 6, 2020
      </div>
      <div class="col-9">
        <strong>Submit All Forms</strong> <br>
        Make checks payable to: Camp It Up Inc. <br>
        Send forms and checks to:<br>
        <div style="margin-left:5%">
          Camp It Up Inc.<br>
          3526 Redding Street<br>
          Oakland, CA 94619<br>
        </div>
        <strong>NOTE:</strong> Families sending forms after July 6th will be charged a $75 late fee.
      </div>
    </div>
    <div class="row rows">
      <div class="col-4 deadline">
        Prior To: May 15, 2020
      </div>
      <div class="col-9">
        <strong>Refunds</strong> <br>
        Full refunds will be available prior to May 15, 2020, less the $90.00 administration fee. After May 15,
        2020
        there will be no refunds, except to the extent it is determined there has been no cost to Camp It Up,
        Inc.
      </div>
    </div>
  </div>
  <h2>
    Payment and Fee Options
  </h2>
  <p>
    We want to make Camp accessible to all and offer camp fees on a sliding scale. In order to accommodate those who
    need to pay at the low rate and those who need campership assistance, we ask that you please pay at the
    upper rate if at all possible.
  </p>
  <h2>
    Pay Levels
  </h2>
  <p>
    We offer two pay levels for Summer Camp – choose which of these works best for you. Here are suggested
    guidelines for who pays which rate. We encourage you to pay the most you can so that we can reserve 25% of our
    spaces for those who can only afford the low rate:
  </p>
  <p>
    <strong>Lower rate:</strong> Household income of less than $100,000 <br>
    <strong>Upper rate:</strong> Household income of $100,000 and above <br>
  </p>
  <h2 style="margin-bottom: 20px">
    Cost Per Night (Suggested Guidelines)
  </h2>
  <div class="row" style="color: white; background: #27974E;">
    <div class="col-6">
      <strong>
        Category
      </strong>
    </div>
    <div class="col-3">
      <strong>
        Upper
      </strong>
    </div>
    <div class="col-3">
      <strong>
        Lower
      </strong>
    </div>
  </div>
  <div class="row rows">
    <div class="col-6">
      Adult (18+)
    </div>
    <div class="col-3">
      $131
    </div>
    <div class="col-3">
      $118
    </div>
  </div>
  <div class="row rows">
    <div class="col-6">
      Teen
    </div>
    <div class="col-3">
      $124
    </div>
    <div class="col-3">
      $111
    </div>
  </div>
  <div class="row rows">
    <div class="col-6">
      School Age (5-11)
    </div>
    <div class="col-3">
      $116
    </div>
    <div class="col-3">
      $104
    </div>
  </div>
  <div class="row rows">
    <div class="col-6">
      Preschool (1-4)
    </div>
    <div class="col-3">
      $100
    </div>
    <div class="col-3">
      $89
    </div>
  </div>
  <div class="row rows">
    <div class="col-4">
      Infant (under 1)
    </div>
    <div class="col-8" style="text-align: center;">
      No Charge
    </div>
  </div>
  <div class="row rows">
    <div class="col-4">
      Counselor In Training Year 1 <br>
      Program Fee
    </div>
    <div class="col-8" style="text-align: center;">
      $590
    </div>
  </div>
  <div class="row rows">
    <div class="col-4">
      Counselor In Training Year 2 <br>
      Program Fee
    </div>
    <div class="col-8" style="text-align: center;">
      $530
    </div>
  </div>
  <h2>
    Financial Assistance/Work Exchanges
  </h2>
  <p>
    We are able to offer limited assistance (reduced camper fees) to families in financial need for Summer Camp.
    Campership funds are limited, but we will do our best to enable camp attendance. A small number of work
    exchanges are available (i.e. leading “specialist” programs in exchange for reduced fees).
  </p>
  <p>
    Please call (510) 871-3659 or email <a class="email" href="mailto:info@campitup.org"
      target="_top">info@campitup.org</a> for more information.
  </p>
</div>
