.rows {
	background: rgba(72, 179, 86, 0.37);
	padding: 8px;
}
.row {
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 0;
}
.email {
	color:#27974E;
}
.calendar .col {
	border: 1px solid lightgrey;
	padding-bottom: 10px;
	padding: 5px 0;
}
.grey {
	color: darkgrey;
	background: rgba(211, 211, 211, 0.23);
}
.opt-1 {
	border-bottom: 5px solid #27974E;
	margin-bottom: 5px;
}
.opt-2 {
	border-bottom: 5px solid #3333ff;
	margin-bottom: 5px;
}
.opt-3 {
	border-bottom: 5px solid #660066;
	margin-bottom: 5px;
}
.num {
	padding: 0 15px;
}

