<div class="container">
	<h1>
		Weather
	</h1>
	<p>
		The daytime temperature can get up to 90 degrees but is usually in the mid-eighties. In the late evenings and early mornings, it gets down to about 45 degrees.
	</p>
	<a style="text-align: center" class="weatherwidget-io" href="https://forecast7.com/en/39d94n120d95/quincy/?unit=us" data-label_1="QUINCY" data-label_2="WEATHER" data-font="Monaco" data-theme="blue-mountains" target="_blank"> Click here for current Quincy weather!
	</a>
	<p style="text-align: center;margin-top: 25px">
		<button routerLink="/what-to-bring">
			Click here to see what to bring!
		</button>
	</p>
</div>