<h1>
	Join the CAMPaign!
</h1>

<p>
	Camp It Up! is at a unique point in our twenty-seven year history. Our founder and past director, Jill Rose, retired at the end of 2016. Our Board of Directors has taken steps to ensure that Camp It Up! remains a fixture in the LGBTQ community by developing a three-year fundraising plan to transition Camp It Up! into a financially sustainable non-profit organization.
</p>

<p>
	Our Camp It Up! CAMPaign goal was to raise $130,000 from 2014 through 2017 to successfully accomplish the transition, and to position Camp It Up! to thrive in the decades to come. We launched our campaign at summer camp 2015 and continued it through the year and at camp again this summer 2016. To date we have raised close to $97,000! If we can reach our goal by the end of 2016 we will be poised to expand the reach of this vital camp to many more who need to experience it.
</p>

<p>
	Camp It Up! has prided itself on creating a safe, inclusive and accepting space for LGBTQ families for over two decades. With your generous gift, you will be investing in Camp It Up! to:
</p>

<!--
<div id="accordion">
<div class="card">
<div class="card-header" id="headingOne">
<h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
<strong>
Reach new families
</strong>
</h5>
</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
<div class="card-body">
Over 500 families have attended Camp It Up! since we first started in 1990. Our goal in 2016 and beyond is to expand our reach and bring new and diverse families into our community. It is also a goal to increase the number of scholarships offered to low-income families.
</div>
</div>
</div>
<div class="card">
<div class="card-header" id="headingTwo">
<h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
<strong>
Continue to build young leaders
</strong>
</h5>
</div>
<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
<div class="card-body">
Over the years, more than 60 young people once campers – have graduated to counselor and staff roles at Camp It Up! Many choose Camp as a powerful topic for college essays, writing about leadership and advocacy skills they developed. These young adults serve as role models to younger campers and confidently carry the message, “let difference make you strong” out into their college and working lives.
</div>
</div>
</div>
<div class="card">
<div class="card-header" id="headingThree">
<h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
<strong>
Expand Camp’s marketing and advertising reach
</strong>
</h5>
</div>
<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
<div class="card-body">
If we want to build Camp It Up! and bring new families to Camp, we have to find them. Your gift will help us expand our marketing outreach and find new young camper families in California and beyond.
</div>
</div>
</div>
<div class="card">
<div class="card-header" id="headingFour">
<h5 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
<strong>
Bring in new voices
</strong>
</h5>
</div>
<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
<div class="card-body">
At this year’s camp, we have made a concerted effort to collect the ideas, creativity and inspiration of our campers, but this is just the beginning. We want to expand our Board, bringing new creativity and innovation into our work. For us to ensure that future generations of LGBT families have a safe space like Camp, we are looking for all who share the importance of a place like Camp It Up! to make a one-time, or up to three-year contribution to support our mission and vision.
</div>
</div>
</div>
</div>
-->
<p>
	We are asking you to join us, in making a financial pledge to support the future of Camp It Up!  We’ve made it easy, just click:
</p>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
			<h4 class="panel-title">
				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Collapsible Group Item #1
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingTwo">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Collapsible Group Item #2
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body">
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingThree">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Collapsible Group Item #3
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			<div class="panel-body">
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</div>
		</div>
	</div>

