<div class="container">
	<h1>
		Overview
	</h1>
	<p>
		Camp It Up!, the first LGBT family camp in the United States, is a rare and wonderful experience for families. It is a dynamic and diverse community that gathers twice each year: in the summer for a one to ten-day family camp program at Feather River Camp in Quincy, CA and for a shorter Winter Camp, held over President’s Day Weekend at Camp Richardson Resort in South Lake Tahoe.
	</p>
	<p>
		Camp It Up! is more than a wonderful family vacation. Over our twenty-seven year history, we have become “home” to hundreds of LGBT families. Camp It Up! is a community where you feel connected, relaxed, happy and well-cared for. There are activities for everyone, from newborns to grandparents. It’s a place to make new and cherished friends, a safe space in which to feel validated and esteemed. Countless campers and staff have remarked that Camp has changed their lives in innumerable and inestimable ways. So come join us and experience the magic of Camp It Up!, a powerful expression of how life can and should be for all of us.
	</p>
	<hr>
	<div class="row">
		<div class="col-6 col-md-3">
			<img class="rounded" src='../../assets/dads.jpg'>
		</div>
		<div class="col-6 col-md-3">
			<img class="rounded" src='../../assets/mara.png'>
		</div>
		<div class="col-6 col-md-3">
			<img class="rounded" src='../../assets/dance.jpg'>
		</div>
		<div class="col-6 col-md-3">
			<img class="rounded" src='../../assets/staff-singing.jpg'>
		</div>
	</div>
	<!--
<h2>
Watch a snippet of our 20th year:
</h2>
<p>
-->
	<!--		//TODO: add video-->
	<!--	</p>-->
</div>