<div class="container">
  <h1>
    Overview
  </h1>
  <p>
    Camp It Up!, the first LGBTQ+ family and allies camp in the United States, is a rare and wonderful experience for
    families. It is a dynamic and diverse community that gathers each year in the summer for a eight-day family camp
    program at Feather River Camp in Quincy, CA and in some years for a shorter Winter Camp, held over President’s Day
    Weekend at South Lake Tahoe.
  </p>
  <p>
    Camp It Up! is more than a wonderful family vacation. Over our thirty year history, we have become “home” to
    hundreds of LGBTQ+ families and allies. Camp It Up! is a community where families come to feel connected, relaxed,
    happy and well-cared for. There are activities for everyone, from newborns to grandparents. It’s a place to make new
    and cherished friends, a safe space in which to feel validated and esteemed. Countless campers and staff have
    remarked that Camp has changed their lives in innumerable and inestimable ways. So come join us and experience the
    magic of Camp It Up!, a powerful expression of how life can and should be for all of us.
  </p>
  <p>
    For more camp details, click below!
  </p>
  <!--
<hr>
<div class="row">
<div class="col-6 col-md-3">
<img class="rounded" src='./assets/dads.jpg'>
</div>
<div class="col-6 col-md-3">
<img class="rounded" src='./assets/mara.png'>
</div>
<div class="col-6 col-md-3">
<img class="rounded" src='./assets/dance.jpg'>
</div>
<div class="col-6 col-md-3">
<img class="rounded" src='./assets/staff-singing.jpg'>
</div>
</div>

<hr>
-->

  <div class="row">
    <div class="col-12 col-sm-4 thumbnail text-center" routerLink="/lodging">
      <img class="circle-img" src="./assets/cabins.jpg" alt="Lodging">
      <div class="caption">
        Lodging
      </div>
    </div>
    <div class="col-12 col-sm-4 thumbnail text-center" routerLink="/dining">
      <img class="circle-img" src="./assets/dining.jpg" alt="Dining">
      <div class="caption">
        Dining
      </div>
    </div>
    <div class="col-12 col-sm-4 thumbnail text-center" routerLink="/medical">
      <img class="circle-img" src="./assets/medical.jpg" alt="Medical">
      <div class="caption">
        Medical
      </div>
    </div>
  </div>

  <!--
<h2>
Watch a snippet of our 20th year:
</h2>
<p>
-->
  <!--		//TODO: add video-->
  <!--	</p>-->
</div>
