<div class="container">
	<h1>
		Winter Camp
	</h1>
	<h2>
		Winter Camp for 2019 has been canceled.
	</h2>
	<p>
		The Camp It Up! team has made the difficult decision to cancel our 2019 Winter Camp session. We understand that many people love our Winter Camp program and that there are families that only attend Winter Camp. Here is why we made this decision:
	</p>
	<p>
		Enrollment was down at 2018 Summer Camp. Unfortunately, our Winter Camp program does not pay for itself. Summer Camp always subsidizes the following year’s Winter Camp. Consequently, with our reduced Summer Camp 2018 enrollment, we decided that canceling would the most fiscally responsible thing to do.
	</p>
	<p>
		We are focused and committed on making Summer Camp 2019 be more inclusive, offer exciting programming and be something for you all to really look forward to. It would be wonderful if families who normally go to winter camp would join us at Summer Camp 2019! It’s just as much fun, only without the snow.
	</p>
</div>