<div class="container">
	<h1>
		Winter Camp
	</h1>
	<h2>
		Winter Camp for 2020 has been canceled.
	</h2>
	<p>
		The Camp It Up! team has made the difficult decision to cancel our 2020 Winter Camp session. We understand that many people love our Winter Camp program and that there are families that only attend Winter Camp. We’ll see you back in the snow in 2021!
	</p>
	<p>
		We are focused and committed on making Summer Camp 2020 be inclusive, offer exciting programming and be something for you all to really look forward to. It would be wonderful if families who normally go to winter camp would join us at Summer Camp 2020! It’s just as much fun, only without the snow.
	</p>
	<p>
		Watch for announcements about Camp It Up gatherings around the Bay Area during 2020 winter and spring months!
	</p>
</div>
