<h1>
	History
</h1>
<img src="../../assets/mission.jpg" class="rounded float-left">
<p>
	Camp It Up! supports and promotes a constellation of programs, including social, camping, performing and visual art, with particular outreach to LGBT individuals and families, developed to create and sustain a community that supports each unique family and all family members.
</p>
<p>
	Camp It Up! held its first summer camp in August, 1990 at Berkeley Tuolomne Camp and approximately 130 adults and children attended. It was a spectacular week; campers, feeling like pioneers, shared an excitement that was palpable throughout the camp session.
</p>
<p>
	In the twenty-seven years since our inception, Camp It Up! has served more than 3,000 campers and 500 families. Our campers are a wonderful mix: lesbian, gay, transgender, single-parent, adoptive, multi-racial and heterosexual families, as well as adults without children. We are proud of our eclectic community and are especially proud to have been the first family camp in the country to do particular outreach to the LGBT community.
</p>
<p>
	We moved to Feather River Camp in Quincy, California in 2000 and though Tuolomne had been our “home,” we were glad to move to a larger camp site so that we could accommodate even more camper families.
</p>
<p>
	Over the years, we have seen a generation of children grow from babies to college students to graduates building their careers. Our community has celebrated many births, adoptions, commitment ceremonies, weddings, career changes, retirements and other life rituals. Sharing the joys and losses in our lives are the ties that bind us together as we grow.
</p>
<p>
	In 2014, we celebrated our 25th year of camp and, in 2015, we had our first annual Drag Ball (it was spectacular!).
</p>
<p>
	In anticipation of our eventual transition from small business to non-profit, in 2009 we established the non-profit organization, Camp It Up Inc. Our 501C3 status became official in August 2015 and in January of 2016, Camp It Up Inc. became the official owners and operators of the camp.  We look back on our history with pride and look forward to a long and exciting future.
</p>