<div class="container">
  <h1>
    History
  </h1>
  <div class="row">
    <div class="col-12 col-lg-3 image-container">
      <img src="./assets/new-imgs/img26.JPG" class="rounded" align="top">
      <img src="./assets/new-imgs/img25.JPG" class="rounded" align="bottom">
      <img src="./assets/new-imgs/img15.JPG" class="rounded" align="bottom">
    </div>
    <div class="col-12 col-lg-6">
      <p>
        Camp It Up! (CIU!) is the first LGBTQ+ family camp in the United States, recognized as a model for best
        practices in family camping and includes a robust youth leadership development program. In the thirty years
        since our inception, Camp It Up! has served more than 4,000 campers and 1000 families and is housed at the
        beautiful Oakland Feather River Camp in Quincy, California. CIU! is LGBTQI+ families, children, youth, and
        allies in an arts and nature based, intentional justice focused, equity driven and inclusive community. We are
        multiracial, multigenerational and committed to having fun, nurturing leadership, and providing opportunities to
        communities traditionally denied access to a family camp experience. Our campers are a rainbow mix: lesbian,
        gay, bisexual, transgender, gender queer, single-parent, two-parent, grandparent, families without children,
        adoptive, and heterosexual families. We support LGBTQ+ families, affirming and validating same-sex parenting
        constellations, while honoring the uniqueness of every family. Our campers and staff in 2019 included: 30%
        camper families of color; 30% staff/Counselors-In-Training (CIT) people of color; 35% staff/ CITs LGBTQ+; 35%
        low income; and 11% heterosexual adult campers. Most camper families in 2019 lived in California (90%), with 85%
        from the Bay Area.
      </p>
      <p>
        Jill Rose co-founded Camp It Up! to provide a safe and nurturing summer camp experience where LGBTQ+ families
        and their allies could be embraced and celebrated. The first camp was held in August 1990. Her work with CIU! is
        both a culmination and manifestation of her commitment to non-urban camps as a source for individual, familial
        and communal healing and empowerment. As the CIU! Director, Ms. Rose was able to experience the thrill and
        gratification of knowing that it is possible to make real and positive changes in people’s lives. Ms. Rose was
        the Director until 2016 when she retired and now enjoys participating as a camper.
      </p>
      <p>
        In anticipation of the eventual transition from a small business owned by Ms. Rose to a non-profit, in 2009, we
        established the non-profit organization, Camp It Up! Inc. Our 501C3 status became official in August 2015 and in
        January of 2016, Camp It Up! Inc. became the official owners and operators. We now have a Board of Directors as
        well as a part-time Executive Director and a part-time Administrative Director. We hire camp staff each summer
        that work during the duration of the 8 day camp and include: Staff Director, Program Director, CIT Director, 7
        Senior Camp Counselors, 7 Junior Camp Counselors, and 6 activity Specialists. In addition, we have 10 CITs and
        an in-kind Website Administrator. We also benefit from many volunteers.
      </p>
      <p>
        Most of our staff goes through the counseling leadership development cycle which includes starting as a CIT,
        becoming a Junior Counselor and then a Senior Counselor or Specialist. Some have gone on to build careers
        working with children, inspired by their CIU! experience. As many of “our kids” go off to college (many
        returning each year to work as staff), they write in their college essays that Camp It Up! is the one thing that
        has most shaped their view of family and community. Some have said:
      </p>
      <p>
        • I grew up at Camp It Up! and it shows…. So much of what I have become is because the people of Camp It Up!
        helped me pull myself from a shy little girl to an outspoken, goofy and strong adult who is unwavering in her
        commitment to empowering children and teenagers to change the world. Katie-Rose, camper and former camp
        counselor <br><br>
        • This camp seeded such a strong vision for the wider world I want to create a deeply connected community out
        under one sky together. Throughout my life, I’ve been seeking more and more ways to do that, and what I’m doing
        NOW [environmental activism] is because of my Camp It Up! roots. Lilah, former camper and camp counselor <br><br>
        • Camp It Up! is the place that most significantly shaped me growing up, and there is no greater joy than
        knowing that I am still a part of the community that gave me such a wonderful childhood. Noah, former camper and
        current camp counselor <br><br>
        In addition to the summer camp, throughout the year CIU! also offers LGBTQ+ and allies community building events
        such as family picnics, community movie nights and Bridge and games nights; adult and family leadership training
        and workshops; and in some years an additional three-day winter camp.
      </p>
    </div>
    <div class="col-12 col-lg-3 image-container">
      <img src="./assets/new-imgs/img22.JPG" class="rounded" align="top">
      <img src="./assets/new-imgs/img23.JPG" class="rounded" align="bottom">
      <img src="./assets/new-imgs/img18.JPG" class="rounded" align="bottom">
    </div>
  </div>
</div>
