<!-- <div class="cont">
	<div class="row">
		<div class="col-6">
			<div class="btn">
				<a href="https://www.facebook.com/events/388258005279430/" target="_blank">
					Facebook Link
				</a>
			</div>
		</div>
		<div class="col-6">
			<div class="btn">
				<a href="https://www.eventbrite.com/e/queer-family-movie-day-my-neighbor-totoro-tickets-54332825945" target="_blank">
					Eventbrite Link
				</a>
			</div>
		</div>
	</div>
</div> -->
<div class="container">
	<h1 style="text-align: center;color: black;">
		Don’t have kids? Don’t worry! </h1>
	<h2 style="text-decoration: none; border-bottom: none">There’s no need for you to miss out on the family camp
		experience. We have new programming for adults who come to camp on their own. Come play! </h2>
	<br>
	<p>We are excited to announce that we are expanding our adult offerings and extending a special invitation to camp
		alumnae and friends to visit and support Camp It Up 2020. This is the first year that we have created
		<span class="bold">programming especially for people who either don't have kids or whose kids don’t
			come to camp anymore,</span> but who still enjoy the ambiance and community of camp. We want you
		to continue to shape the future of this much-loved space, to bring your friends and to come together to make
		beautiful safe space for all kinds of families. Yes, we have always offered adult programming, but this year we
		will have enhanced <span class="bold">adult programming geared specifically for you!</span>
	</p>
	<h3 style="font-weight: bold">What's New?</h3>
	<p><span style="font-weight: bold">Camaraderie and Inclusion:</span> We are embarking on the challenge of making
		camp an inclusive space for diverse community. We will have a <span class="bold">People of Color
			Affinity Group</span> lead by Chiah Connelly Ingram (who has been at camp for many years. Co-leaders are
		WELCOME!). There will also be an <span class="bold">Allies Group.</span> Again, possible co-leaders
		should contact Andrea or Jill to become part of the weeks planning.</p>
	<p><span style="font-weight: bold">The Space:</span> We are considering clustering folks who come to camp without
		kids in the area closest to the entrance of camp (near the horses.) This way you can come and go a bit more
		easily without disturbing others or having to engage with other camp activities. (And, of course, you can still
		stay in whatever part of camp you most love but we do want to do a <span class="bold">special space with
			difference ambiance for adult campers only.)</span></p>
	<p><span style="font-weight: bold">Adults Lead Workshops and Fun New Activities​:</span> There is so much to do in
		beautiful Quincy and on the gorgeous Feather River that our list of potential activities is too long! We are
		hoping that folks in through the CIU Alumnae door will <span class="bold">share knowledge and possibly lead an
			activity or workshop.</span></p>
	<h3 style="font-weight: bold">What We Are Offering:</h3>
	<p>You can choose one of two sessions: <span class="bold">July 27-31 or July 31 to Aug 4</span> or you
		can stay for the <span class="bold">whole week!​</span> ​You are welcome to participate in all Camp
		It Up! activities​ ​but we just wanted to give adults an extra chance to <span class="bold">build community and
			friendships.</span> Just like we have kids groups, now we can have adult groups!
	</p>
	<!-- <a class="btn" href="https://www.ultracamp.com/info/upcomingsessions.aspx?idCamp=786&campCode=mwf"
		target="_blank">Click Here to Register!</a> -->
	<img class="align-self-center" src="./assets/adult-camp.jpg">
</div>
<!--
<h1>
Please Join Us!
</h1>
<div class="media" style="margin-top: 10px">
<img class="align-self-center mr-3" src="./assets/parkway2.jpg" style="width: 30%;">
<div class="media-body">
<h5 class="mt-0" style="line-height: 1.5em;">
Afternoon Family Movie at the New Parkway coming in February!
</h5>
<p>
We are excited to be planning a Family Afternoon Movie at the Parkway in February.  Date and time TDB.
</p>
<p>
Watch for updates
</p>
<p>
New Parkway Theatre
<br>
74 24th St, Oakland, CA 94612
</p>
<p>
Camp It Up! is going to gather at New Parkway Theater. Come join us for a fun afternoon watching a fun movie for all, of seeing all your camp friends and counselors, and meet new friends too! Bring a family who’s never come to camp to share in the fun!
</p>
<p>
Date, time, ticket info and more details will be announced soon.
</p>
</div>
</div>
-->



<!--
<h2>
Blog
</h2>
<h3>
Keep up to date on the latest camp news! From the theme to newest activities coming your way at camp.
</h3>
-->
<!--
<div class="card-columns">
<div class="card">
<img class="card-img-top" src=".../100px160/" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Card title that wraps to a new line</h5>
<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
</div>
</div>
<div class="card p-3">
<blockquote class="blockquote mb-0 card-body">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
<footer class="blockquote-footer">
<small class="text-muted">
Someone famous in <cite title="Source Title">Source Title</cite>
</small>
</footer>
</blockquote>
</div>
<div class="card">
<img class="card-img-top" src=".../100px160/" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Card title</h5>
<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
<div class="card bg-primary text-white text-center p-3">
<blockquote class="blockquote mb-0">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
<footer class="blockquote-footer">
<small>
Someone famous in <cite title="Source Title">Source Title</cite>
</small>
</footer>
</blockquote>
</div>
<div class="card text-center">
<div class="card-body">
<h5 class="card-title">Card title</h5>
<p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
<div class="card">
<img class="card-img" src=".../100px260/" alt="Card image">
</div>
<div class="card p-3 text-right">
<blockquote class="blockquote mb-0">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
<footer class="blockquote-footer">
<small class="text-muted">
Someone famous in <cite title="Source Title">Source Title</cite>
</small>
</footer>
</blockquote>
</div>
<div class="card">
<div class="card-body">
<h5 class="card-title">Card title</h5>
<p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
</div>
-->
