.btn {
	color: black;
	background: #27974E;
	border: #27974E;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}

a {
	color: black;
}

.btn:hover {
	opacity: 0.8;
	color: white !important;
}

.col-6 {
	text-align: center;
}

.cont {
	margin: 1em 25vw 0;
}

img {
	width: 100%;
	margin: 1em auto;
}
