<div class="container">
	<h1>
		Please Join Us!
	</h1>
	<div class="media">
		<img class="align-self-center mr-3" src="../../assets/zootopia.jpg" alt="Zootopia" style="width: 25%;">
		<div class="media-body">
			<h5 class="mt-0" style="line-height: 1.5em;">
				Sunday, Feburary 17th, 2019
				<br> 12:30PM - 2:30PM 
				<br> New Parkway Theatre
			</h5>
			<p>
				Come join us for a fun afternoon watching Zootopia, and seeing all your camp friends and counselors, and meet new friends too!! 
				<br>
				Bring a family who's never come to camp to share in the fun!! 
			</p>
		</div>
	</div>
	<!--	//TODO: add blog-->
</div>