<div class="cont">
	<div class="row">
		<div class="col-6">
			<div class="btn">
				<a href="https://www.facebook.com/events/388258005279430/" target="_blank">
					Facebook Link
				</a>
			</div>
		</div>
		<div class="col-6">
			<div class="btn">
				<a href="https://www.eventbrite.com/e/queer-family-movie-day-my-neighbor-totoro-tickets-54332825945" target="_blank">
					Eventbrite Link
				</a>
			</div>
		</div>
	</div>
</div>
<img class="align-self-center mr-3" src="../../assets/MovieDay2019.png" style="width: 50vw;margin: 1em 25vw;">

<!--
<h1>
Please Join Us!
</h1>
<div class="media" style="margin-top: 10px">
<img class="align-self-center mr-3" src="../../assets/parkway2.jpg" style="width: 30%;">
<div class="media-body">
<h5 class="mt-0" style="line-height: 1.5em;">
Afternoon Family Movie at the New Parkway coming in February!
</h5>
<p>
We are excited to be planning a Family Afternoon Movie at the Parkway in February.  Date and time TDB.
</p>
<p>
Watch for updates
</p>
<p>
New Parkway Theatre
<br>
74 24th St, Oakland, CA 94612
</p>
<p>
Camp It Up! is going to gather at New Parkway Theater. Come join us for a fun afternoon watching a fun movie for all, of seeing all your camp friends and counselors, and meet new friends too! Bring a family who’s never come to camp to share in the fun!
</p>
<p>
Date, time, ticket info and more details will be announced soon.
</p>
</div>
</div>
-->



<!--
<h2>
Blog
</h2>
<h3>
Keep up to date on the latest camp news! From the theme to newest activities coming your way at camp.
</h3>
-->
<!--
<div class="card-columns">
<div class="card">
<img class="card-img-top" src=".../100px160/" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Card title that wraps to a new line</h5>
<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
</div>
</div>
<div class="card p-3">
<blockquote class="blockquote mb-0 card-body">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
<footer class="blockquote-footer">
<small class="text-muted">
Someone famous in <cite title="Source Title">Source Title</cite>
</small>
</footer>
</blockquote>
</div>
<div class="card">
<img class="card-img-top" src=".../100px160/" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Card title</h5>
<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
<div class="card bg-primary text-white text-center p-3">
<blockquote class="blockquote mb-0">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
<footer class="blockquote-footer">
<small>
Someone famous in <cite title="Source Title">Source Title</cite>
</small>
</footer>
</blockquote>
</div>
<div class="card text-center">
<div class="card-body">
<h5 class="card-title">Card title</h5>
<p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
<div class="card">
<img class="card-img" src=".../100px260/" alt="Card image">
</div>
<div class="card p-3 text-right">
<blockquote class="blockquote mb-0">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
<footer class="blockquote-footer">
<small class="text-muted">
Someone famous in <cite title="Source Title">Source Title</cite>
</small>
</footer>
</blockquote>
</div>
<div class="card">
<div class="card-body">
<h5 class="card-title">Card title</h5>
<p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
</div>
-->
