<div class="container">
	<h1>
		Lodging
	</h1>
	<h2>
		Location
	</h2>
	<p>
		Summer Camp takes place at <a href="http://featherrivercamp.com" target="_blank">Oakland Feather River Camp</a> in Quincy, CA. It’s nestled along Spanish Creek in the Plumas National Forest among the Sierra Nevada mountain range.
	</p>
	<h2>
		Cabins
	</h2>
	<div class="clearfix">
		<img src="../../assets/cabins.jpg" class="rounded float-left" style="width: 300px;">
		<p>
			Wood and tent cabins, many with electricity, are available. All accommodations have cots/beds and dressers. Wheelchair accessible tent cabins are also available. Some cabins overlook the river; others are nestled among the trees. Some are located close to the center of camp and some are more remote for those who like a quieter environment. After you register, we will ask you about your lodging preferences so that you can “live” near your friends, have access to electricity and whatever else would make your stay at camp most enjoyable.
		</p>
	</div>
	<h2>
		Bathhouses
	</h2>
	<p>
		Each cluster of cabins shares a bathhouse with private showers, abundant hot water and toilet facilities. The central area of camp also has a large bathhouse with showers and a bathtub. Bathhouses have electricity with outlets for small appliances.
	</p>
	<p>
		Bathrooms at camp are gender-free. Please use the facility where you feel most comfortable.
	</p>
	<h2>
		Laundry
	</h2>
	<p>
		There is a large laundry room with coin-operated washers and dryers available for campers to use. Bring quarters and laundry detergent or pick that up in nearby Quincy.
	</p>
	<h2>
		Camp Store
	</h2>
	<p>
		The place to get your hoodies and goodies! Set up a charge account at the camp store so that you and your kids can pick up miscellaneous supplies and sodas, ice cream cones and milk shakes. Sitting in the center of camp, kicking back and enjoying your favorite flavor is a very popular activity!
	</p>
	<button>
		<a href="../../assets/camp-map.pdf" target="_blank" style="color: white">
			See Camp Map!
		</a>
	</button>
</div>
<br>
