<h1>
	Medical
</h1>
<p>
	On-site medical care is coordinated by a Pediatric Nurse Practitioner and Doctor. Daily office hours for non-urgent conditions are posted at the Communications Center and on the door of the Medical Office. “Urgent” medical care (at camp, that’s usually scraped knees, stubbed toes, sore throats) is available as needed (someone is always on duty and close by the center of camp) and if needed, there’s a wonderful hospital located just 10 minutes away, in the town of Quincy.
</p>
<p>
	We promise to take very good care of you!
</p>