<div class="container">
	<h1>
		Board of Directors
	</h1>
	<p>
		The Camp It Up Inc. Board of Directors was created in 2008 to allow Camp It Up! to continue after owner Jill Rose’s retirement. Having reached that goal, the Board remains the governing body which has fiduciary responsibility for our nonprofit camp.
	</p>
	<h2>
		Current Board Members: 
	</h2>
	<p>
		Liz Hendrickson: President &amp; Co-Chair <br>
		Lori Randlett: Treasurer &amp; Co-Chair <br>
		Katie Angelot: Secretary <br>
		Alison Hardy <br>
		Jay Sky <br>
		John Dalal <br>
		Katie Rose Breslin <br>
		Rachel Vyda Venning <br>
		Roger MacDonald <br>
<!--		//TODO: get pics of everyone-->
	</p>

	<h2>
		Last 3 months of approved Board Meeting Minutes: 
	</h2>
	<p>
		<a href="../../assets/minutes-sep-17-17.pdf" target="_blank">
			September 17, 2017
		</a><br>
		<a href="../../assets/minutes-aug-17-17.pdf" target="_blank">
			August 20, 2017
		</a><br>
		<a href="../../assets/minutes-july-16-17.pdf" target="_blank">
			July 16, 2017
		</a><br>
	</p>
	<!--	//TODO: add archive-->
	<!--
<p>
Archives of prior meeting minutes
</p>
-->
</div>