<div class="container">
  <h1>
    Board of Directors
  </h1>
  <p>
    The Camp It Up Inc. Board of Directors was created in 2008 to allow Camp It Up! to continue after owner Jill
    Rose’s retirement. Having reached that goal, the Board remains the governing body which has fiduciary
    responsibility for our nonprofit organization.
  </p>
  <h2>
    Current Board Members:
  </h2>

  <div class="card-deck text-nowrap">
    <div class="card">
      <img class="card-img" src="./assets/Margaret.jpg">
      <div class="card-img-overlay">
        <div class="card-text">
          <h5>
            Margaret Kavanaugh-Lynch
          </h5>
          President
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="./assets/lori.jpg">
      <div class="card-img-overlay">
        <div class="card-text">
          <h5>
            Lori Randlett
          </h5>
          Treasurer &amp; Co-Chair
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="./assets/alison.jpg">
      <div class="card-img-overlay">
        <div class="card-text">
          <h5>
            Alison Hardy
          </h5>
          Secretary
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck two text-nowrap">
    <div class="card">
      <img class="card-img" src="./assets/Claudia.jpg">
      <div class="card-img-overlay">
        <div class="card-text">
          <h5>
            Claudia Vierra Allen
          </h5>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="./assets/Jay.jpg">
      <div class="card-img-overlay">
        <div class="card-text">
          <h5>
            Jay Sky
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <img class="card-img" src="./assets/susancolson.jpg">
      <div class="card-img-overlay">
        <div class="card-text">
          <h5>
            Susan Colson
          </h5>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="./assets/cai.png">
      <div class="card-img-overlay">
        <div class="card-text">
          <h5>
            Cai Connely Ingram
          </h5>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="./assets/default-profile.jpg">
      <div class="card-img-overlay">
        <div class="card-text">
          <h5>
            Ramsey Rickart
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck two text-nowrap">
    <div class="card">
      <img class="card-img" src="./assets/john.jpg">
      <div class="card-img-overlay">
        <div class="card-text">
          <h5>
            John Dalal
          </h5>
          Board Member Emeritus
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="./assets/default-profile.jpg">
      <div class="card-img-overlay">
        <div class="card-text">
          <h5>
            This Could Be You!
          </h5>
          Click <a target="_blank" href="./assets/ciu_board_application.pdf">here</a> to apply!
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
  <h2 style="text-align: center" class="mb-4">
    Archive of Approved Board Meeting Minutes:
  </h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Month/Year</th>
        <th scope="col">2020</th>
        <th scope="col">2019</th>
        <th scope="col">2018</th>
        <th scope="col">2017</th>
        <th scope="col">2016</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">January</th>
        <td><a href="./assets/minutes/2020.01.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2019.01.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2018.01.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2017.01.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2016.01.pdf" target="_blank">View</a></td>
      </tr>
      <tr>
        <th scope="row">February</th>
        <td>------</td>
        <td>------</td>
        <td>------</td>
        <td><a href="./assets/minutes/2017.02.pdf" target="_blank">View</a></td>
        <td>------</td>
      </tr>
      <tr>
        <th scope="row">March</th>
        <td><a href="./assets/minutes/2020.03.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2019.03.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2018.03.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2017.03.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2016.03.pdf" target="_blank">View</a></td>
      </tr>
      <tr>
        <th scope="row">April</th>
        <td>------</td>
        <td><a href="./assets/minutes/2019.04.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2018.04.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2017.04.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2016.04.pdf" target="_blank">View</a></td>
      </tr>
      <tr>
        <th scope="row">May</th>
        <td>------</td>
        <td><a href="./assets/minutes/2019.05.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2018.05.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2017.05.pdf" target="_blank">View</a></td>
        <td>------</td>
      </tr>
      <tr>
        <th scope="row">June</th>
        <td>------</td>
        <td><a href="./assets/minutes/2019.06.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2018.06.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2017.06.pdf" target="_blank">View</a></td>
        <td>------</td>
      </tr>
      <tr>
        <th scope="row">July</th>
        <td>------</td>
        <td><a href="./assets/minutes/2019.07.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2018.07.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2017.07.pdf" target="_blank">View</a></td>
        <td>------</td>
      </tr>
      <tr>
        <th scope="row">August</th>
        <td>------</td>
        <td>------</td>
        <td><a href="./assets/minutes/2018.08.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2017.08.pdf" target="_blank">View</a></td>
        <td>------</td>
      </tr>
      <tr>
        <th scope="row">September</th>
        <td>------</td>
        <td><a href="./assets/minutes/2019.09.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2018.09.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2017.09.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2016.09.pdf" target="_blank">View</a></td>
      </tr>
      <tr>
        <th scope="row">October</th>
        <td>------</td>
        <td><a href="./assets/minutes/2019.10.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2018.10.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2017.10.pdf" target="_blank">View</a></td>
        <td>------</td>
      </tr>
      <tr>
        <th scope="row">November</th>
        <td>------</td>
        <td><a href="./assets/minutes/2019.11.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2018.11.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2017.11.pdf" target="_blank">View</a></td>
        <td>------</td>
      </tr>
      <tr>
        <th scope="row">December</th>
        <td>------</td>
        <td><a href="./assets/minutes/2019.12.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2018.12.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2017.12.pdf" target="_blank">View</a></td>
        <td><a href="./assets/minutes/2016.12.pdf" target="_blank">View</a></td>
      </tr>
    </tbody>
  </table>
</div>
