<div class="container">
	<h1>
		Board of Directors
	</h1>
	<p>
		The Camp It Up Inc. Board of Directors was created in 2008 to allow Camp It Up! to continue after owner Jill
		Rose’s retirement. Having reached that goal, the Board remains the governing body which has fiduciary
		responsibility for our nonprofit camp.
	</p>
	<h2>
		Current Board Members:
	</h2>

	<div class="card-deck">
		<div class="card">
			<img class="card-img" src="./assets/alison.jpg">
			<div class="card-img-overlay">
				<div class="card-text">
					<h5>
						Alison Hardy
					</h5>
					Co-President
				</div>
			</div>
		</div>
		<div class="card">
			<img class="card-img" src="./assets/katie-rose.jpg">
			<div class="card-img-overlay">
				<div class="card-text">
					<h5>
						Katie Rose Breslin
					</h5>
					Co-President
				</div>
			</div>
		</div>
		<div class="card">
			<img class="card-img" src="./assets/john.jpg">
			<div class="card-img-overlay">
				<div class="card-text">
					<h5>
						John Dalal
					</h5>
					Co-President
				</div>
			</div>
		</div>
	</div>
	<div class="card-deck two">
		<div class="card">
			<img class="card-img" src="./assets/lori.jpg">
			<div class="card-img-overlay">
				<div class="card-text">
					<h5>
						Lori Randlett
					</h5>
					Treasurer &amp; Co-Chair
				</div>
			</div>
		</div>
		<div class="card">
			<img class="card-img" src="./assets/gallery-4.jpg">
			<div class="card-img-overlay">
				<div class="card-text">
					<h5>
						Katie Angelot
					</h5>
					Secretary
				</div>
			</div>
		</div>
	</div>
	<div class="card-deck">
		<div class="card">
			<img class="card-img" src="./assets/rachel.jpeg">
			<div class="card-img-overlay">
				<div class="card-text">
					<h5>
						Rachel Vyda Venning
					</h5>
				</div>
			</div>
		</div>
		<div class="card">
			<img class="card-img" src="./assets/Jay.jpg">
			<div class="card-img-overlay">
				<div class="card-text">
					<h5>
						Jay Sky
					</h5>
				</div>
			</div>
		</div>
		<div class="card">
			<img class="card-img" src="./assets/Margaret.png">
			<div class="card-img-overlay">
				<div class="card-text">
					<h5>
						Margaret Kavanaugh-Lynch
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="card-deck two">
		<div class="card">
			<img class="card-img" src="./assets/Liz.jpg">
			<div class="card-img-overlay">
				<div class="card-text">
					<h5>
						Liz Hendrickson
					</h5>
				</div>
			</div>
		</div>
		<div class="card">
			<img class="card-img" src="./assets/default-profile.jpg">
			<div class="card-img-overlay">
				<div class="card-text">
					<h5>
						This Could Be You!
					</h5>
					Email <a href="info@campitup.org">info@campitup.org</a> for more info
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<h2 style="text-align: center" class="mb-4">
		Archive of Approved Board Meeting Minutes:
	</h2>
	<table class="table table-sm">
		<thead>
			<tr>
				<th scope="col">Month/Year</th>
				<th scope="col">2019</th>
				<th scope="col">2018</th>
				<th scope="col">2017</th>
				<th scope="col">2016</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">January</th>
				<td><a href="./assets/minutes/2019.01.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2018.01.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2017.01.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2016.01.pdf" target="_blank">View</a></td>
			</tr>
			<tr>
				<th scope="row">February</th>
				<td>------</td>
				<td>------</td>
				<td><a href="./assets/minutes/2017.02.pdf" target="_blank">View</a></td>
				<td>------</td>
			</tr>
			<tr>
				<th scope="row">March</th>
				<td>------</td>
				<td><a href="./assets/minutes/2018.03.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2017.03.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2016.03.pdf" target="_blank">View</a></td>
			</tr>
			<tr>
				<th scope="row">April</th>
				<td>------</td>
				<td><a href="./assets/minutes/2018.04.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2017.04.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2016.04.pdf" target="_blank">View</a></td>
			</tr>
			<tr>
				<th scope="row">May</th>
				<td>------</td>
				<td><a href="./assets/minutes/2018.05.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2017.05.pdf" target="_blank">View</a></td>
				<td>------</td>
			</tr>
			<tr>
				<th scope="row">June</th>
				<td>------</td>
				<td><a href="./assets/minutes/2018.06.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2017.06.pdf" target="_blank">View</a></td>
				<td>------</td>
			</tr>
			<tr>
				<th scope="row">July</th>
				<td>------</td>
				<td><a href="./assets/minutes/2018.07.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2017.07.pdf" target="_blank">View</a></td>
				<td>------</td>
			</tr>
			<tr>
				<th scope="row">August</th>
				<td>------</td>
				<td><a href="./assets/minutes/2018.08.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2017.08.pdf" target="_blank">View</a></td>
				<td>------</td>
			</tr>
			<tr>
				<th scope="row">September</th>
				<td>------</td>
				<td><a href="./assets/minutes/2018.09.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2017.09.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2016.09.pdf" target="_blank">View</a></td>
			</tr>
			<tr>
				<th scope="row">October</th>
				<td>------</td>
				<td><a href="./assets/minutes/2018.10.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2017.10.pdf" target="_blank">View</a></td>
				<td>------</td>
			</tr>
			<tr>
				<th scope="row">November</th>
				<td>------</td>
				<td><a href="./assets/minutes/2018.11.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2017.11.pdf" target="_blank">View</a></td>
				<td>------</td>
			</tr>
			<tr>
				<th scope="row">December</th>
				<td>------</td>
				<td><a href="./assets/minutes/2018.12.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2017.12.pdf" target="_blank">View</a></td>
				<td><a href="./assets/minutes/2016.12.pdf" target="_blank">View</a></td>
			</tr>
		</tbody>
	</table>
</div>