<div class="container">
	<h1>
		Camp It Up! In the Snow
	</h1>
	<h2 style="border-bottom: none">
		Stay tuned for Winter Camp 2020 dates!
	</h2>
	<h2>
		<strong>Location:</strong> Camp Richardson Resort in Lake Tahoe <br>
	</h2>
	<p style="margin-top: 15px">
		Would you love an opportunity to go skiing while your children are being well taken care of in a great kids
		program? (skiing, snow play, crafts and more) Can you see yourself sitting by a blazing fire in a cozy lodge or
		watching the snow fall while you relax in the hot tub? Could you use some of that Camp It Up! spirit during the
		long winter? If so, then…
		<br>
		Join us for Snow Camp: 3 nights and days of skiing, sledding and enjoying the snow at a beautiful resort in
		South Lake Tahoe. This will be an informal weekend with a children’s program offered for part of the day and
		family activities in the late afternoons and evenings.
		<!--
<br><br>
Regiser <a href="https://www.ultracamp.com/info/sessiondetail.aspx?idCamp=786&campCode=mwf&idSession=163272">HERE</a>!!
-->
	</p>
	<div class="row">
		<div class="col-6 col-md-3">
			<img class="rounded" src='./assets/winter-camp.jpg'>
		</div>
		<div class="col-6 col-md-3">
			<img class="rounded" src='./assets/winter-kids-2.jpg'>
		</div>
		<div class="col-6 col-md-3">
			<img class="rounded" src='./assets/winter-kids.jpg'>
		</div>
		<div class="col-6 col-md-3">
			<img class="rounded" src='./assets/snow-kids.jpg'>
		</div>
	</div>
	<h2>
		More Info!
	</h2>
	<div class="row justify-content-md-center" style="margin-top: 15px;">
		<div class="col-12 col-sm-3">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action selected"
					(click)="changeTab('list-children', 'children')" id="children">Children’s Program</a>
				<a class="list-group-item list-group-item-action"
					(click)="changeTab('list-accomodations', 'accomodations')" id="accomodations">Accommodations</a>
				<a class="list-group-item list-group-item-action" (click)="changeTab('list-food', 'food')"
					id="food">Food</a>
				<a class="list-group-item list-group-item-action" (click)="changeTab('list-activities', 'activities')"
					id="activities">Activities</a>
			</div>
		</div>
		<div class="col-12 col-sm-9">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane" id="list-children" style="display: block">
					<p>Counselors provide an excellent program of activities for children aged 2 and older on Saturday
						and Sunday. The older children will be taken cross-country skiing on the grounds of the resort
						(along the Lake or across the road where there are many miles of forest), and the younger
						children will have plenty of time for snow play. The program also includes snow crafts,
						storytelling, building snow forts and snow people, winter scavenger hunt and a few surprises! A
						traditional Winter Camp favorite is Capture the Flag in the Snow. Get ready – it is lots of fun!
					</p>
				</div>
				<div class="tab-pane" id="list-accomodations">
					<p>There are comfortable rooms with private baths in the lodge. Lodge rooms have either one queen,
						two singles, one king, or two double beds. We will assign families to rooms based on numbers in
						each family and will do our best to make sure that everyone is comfortable. We recommend that
						you bring a sleeping bag and mattress pad for your kids if you want to fit your whole family
						into one room and folks don’t want to share beds. The Lodge has a large central living room
						which serves as our gathering place for activities and dining room. People tend to spend very
						little time in their own rooms and a lot of time in the communal space. (There’s a lot of
						hanging out in pajamas in the evenings and early mornings.) We’re also offering rooms in the
						Richardson House this year. The Richardson House is about a minute’s walk to the Lodge and is a
						bit fancier. We’ll be doing our cooking there this year and using the living room for relaxing
						and reading and some kids activities. The fees for rooms in the Richardson House will be
						slightly higher than those for the Lodge.</p>
					<p>
						You can go the Camp Richardson web site, <a href="http://www.camprichardson.com"
							target="_blank">www.camprichardson.com</a>, for more information on the resort and to view a
						site map.
					</p>
				</div>
				<div class="tab-pane" id="list-food">
					<p>Marc Swan will be cooking for us at Winter Camp this year (except for one pizza dinner), so the
						food is sure to be fabulous! Meals will be served in the Lodge. Snacks and drinks will be
						available throughout the day.</p>
				</div>
				<div class="tab-pane" id="list-activities">
					<p>There are many cross-country and downhill ski possibilities nearby. You can also go sledding
						(down the road about a mile), go for a sleigh ride, or relax and play games by the fire (Bring
						your family’s favorite games!). We’ll have a nighttime walk along the Lake, dancing, making
						s’mores in the fire pit and lots more.</p>
				</div>
			</div>
		</div>
	</div>
</div>