<h1>
	Camp It Up! In the Snow
</h1>
<div class="row">
	<div class="col-9">
		<h2 style="border-bottom: none">
			<strong>Dates:</strong> Feburary 16-19, 2018 (3pm on Friday through 11am on Monday) 
		</h2>
		<h2>
			<strong>Location:</strong> Camp Richardson Resort in Lake Tahoe <br>
		</h2>
		<p style="margin-top: 15px">
			Would you love an opportunity to go skiing while your children are being well taken care of in a great kids program? (skiing, snow play, crafts and more) Can you see yourself sitting by a blazing fire in a cozy lodge or watching the snow fall while you relax in the hot tub? Could you use some of that Camp It Up! spirit during the long winter? If so, then…
			<br>
			Join us for Snow Camp: 3 nights and days of skiing, sledding and enjoying the snow at a beautiful resort in South Lake Tahoe. This will be an informal weekend with a children’s program offered for part of the day and family activities in the late afternoons and evenings.
			<br><br>
			Regiser <a href="https://www.ultracamp.com/info/sessiondetail.aspx?idCamp=786&campCode=mwf&idSession=163272">HERE</a>!!
		</p>
	</div>
	<div class="col-2">
		<img src="../../assets/winter-camp.jpg" class="rounded" style="width: auto; height: 100%;">
	</div>
</div>
<h2>
	More Info!
</h2>
<div class="row justify-content-md-center" style="margin-top: 15px;">
	<div class="col-3">
		<div class="list-group" id="list-tab" role="tablist">
			<a class="list-group-item list-group-item-action selected" (click)="changeTab('list-accomodations', 'accomodations')" id="accomodations">Accommodations</a>
			<a class="list-group-item list-group-item-action" (click)="changeTab('list-food', 'food')" id="food">Food</a>
			<a class="list-group-item list-group-item-action" (click)="changeTab('list-children', 'children')" id="children">Children’s Program</a>
			<a class="list-group-item list-group-item-action" (click)="changeTab('list-activities', 'activities')" id="activities">Activities</a>
		</div>
	</div>
	<div class="col-8">
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane" id="list-accomodations" style="display: block">
				<p>Camp It Up! is well-known for its exciting children’s program. Children meet daily (except for the Counselors’ day off) in age-clustered groups. Each group is led by a Senior Counselor, a Junior Counselor and a Counselor-in-Training. Specialists in Art, Music, Dance, Nature, Drama and Sports work with the children’s groups as well.</p>
				<p>Children’s groups meet on most days from 9:30 to noon. They also meet on two evenings for an hour while the adults get to relax at an adults-only dinner. On one evening, the younger kids groups get together for pajama parties and older kids do an overnight (still on the camp grounds).</p>
				<p>The children’s groups also participate in all-camp special theme day activities as well as other special activities throughout the week.</p>
				<p>Camp it Up! is a village about children and you can hear their happy voices, singing, laughing, throughout camp. Your kids will feel free at camp… it’s as life should be.</p>
			</div>
			<div class="tab-pane" id="list-food">
				<p>Camp It Up’s teens participate in creative and performing arts, sports, overnights, crafts activities and much more. Often, carpentry crafts and participation in a ropes course are included in the week’s program. Camp teens inevitably spend many hours outside the actual program time just hanging out with each other, talking, going down the creek to the rope swing, laughing and finding close friendships. Teens are encouraged to explore their relationships to peers, family and community. Our excellent teen program staff know how to encourage teens to feel comfortable, to share their energies and creativity, and to facilitate an inclusive group sense.</p>
			</div>
			<div class="tab-pane" id="list-children">
				<p>Camp offers opportunities for adults to meet, play together, socialize, discuss common concerns and build community.</p>
				<p>Activities might include (but are not limited to): Visual and Creative Arts, Instrumental and Vocal Music, Theater, Sports, Healing Arts, Specialty Crafts, Workshops, Orientation Sessions for first-time campers.</p>
				<p>Of course, all activities are optional. Many adults choose to sit in the center of camp, comfortably perched on a chaise lounge, reading, snacking, schmoozing, listening to the sounds of birds or drummers or children laughing.</p>
			</div>
			<div class="tab-pane" id="list-activities">
				<p>The CIT Leadership Development Program is available to teens entering their sophomore and junior years in High School. CIT’s live and work with camp staff under the guidance of the CIT Supervisor.</p>
				<p>They work with an experienced counselor in the children’s program, or in one of the specialty areas: music, crafts, sports or drama. They also organize and present evening programs and special events.</p>
				<p>Our CIT program is very popular so we suggest that you apply for space in this program as early as possible.</p>
				<p>To apply for a space in this program, please email campitupmail@gmail.com</p>
				<p>CIT program fees: $560/1st year participant; $500/2nd year participant.</p>
			</div>
		</div>
	</div>
</div>