<div class="container">
  <h1>
    Non-Profit Status
  </h1>
  <div class="row" style="margin-top: 4%">
    <div class="col-4 text-center">
      <img src="./assets/501.png">
    </div>
    <div class="col-7">
      <p>
        Camp It Up! Inc. is a 501(c)(3) tax exempt non-profit organization. We received our tax exempt status  July 30, 2015. Donations made to Camp It Up Inc. are tax deductible!
      </p>
      <p>
        Our Tax ID number is <strong>26-2733972</strong>
      </p>
      <p>
        Donation mailing address:
      </p>
      <p style="margin-left: 25px">
        Camp It Up Inc. <br>
        3500 Victor Ave. <br>
        Oakland, CA 94619 <br>
      </p>
    </div>
  </div>
  <hr>
  <div class="row" style="text-align: center; padding:15px; margin: 0 10%;">
    <div class="col-12 col-sm-5">
      <div class="donate-button">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WUCZ7ZZ5SE27N" class="donate"
          target="_blank">
          Donate Through Paypal!
          <i class="fa fa-heart"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-2" style="font-size:25px">
      OR
    </div>
    <div class="col-12 col-sm-5">
      <div class="donate-button">
        <a routerLink="/pledge-form" class="donate" target="_blank">
          Fill out Pledge Form!
          <i class="fa fa-heart"></i>
        </a>
      </div>
    </div>
  </div>
</div>
