<div class="container">
  <h1>
    Staff
  </h1>
  <div class="row">
    <div class="col-12 col-md-4">
      <img src="./assets/lisa.png">
      <div class="name">
        Lisa Zeiler
      </div>
      <div class="title">
        Executive Director
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>
        Lisa Zeiler became the part time Executive Director of Camp It Up! in 2018. She and her family have been part of
        CIU! for since 1993. Her son has grown up going to CIU! and now at 17 is a Junior Counselor. She began as a Camp
        Counselor and Music Coordinator in those very early years. From 1995-2005 she created, implemented and led the
        CIT program. As Executive Director she supervises all staff, volunteers, camp operations, outreach, marketing,
        program development and implementation as well as the lead community liaison.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8">
      <p>
        Lisa Angelot became the part time CIU! Administration Director in 2014. She oversees registration, evaluation,
        data collection, Campership (scholarship) applications, and onsite logistics. She and her children (now adults)
        have been attending CIU! since1997. Ms. Angelot has been a Property Manager since 1992 with Lagomarsino
        Properties in Daly City and has a wealth of administrative skills.
      </p>
    </div>
    <div class="col-12 col-md-4">
      <img src="./assets/LisaA.jpg">
      <div class="name">
        Lisa Angelot
      </div>
      <div class="title">
        Administrative Director
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <img src="./assets/new-imgs/img2.JPG">
      <div class="name">
        Staff
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>
        Our amazing Camp It Up! staff includes a year-round administrative team (Web site, Marketing,
        Registration) and our program staff. We have an administration team that coordinates the registration
        process prior to camp (a humungous task!) and they keep us all organized at camp.
        <br><br>
        In addition to our administrative staff, our incredible program staff, which now number approximately 60
        each summer session, has been an integral part of the camper community. We estimate that some 250 staff
        members have shared their talents with us over the years. Our very popular Counselor-in-Training (CIT)
        program is run for approximately 10 teenagers each summer. Most of our staff goes through the counseling
        development cycle which includes starting as a CIT, becoming a Junior Counselor and then a Senior
        Counselor or Specialist. Some have gone on to administrative positions at Camp It Up! and now help to
        direct the camp. Some have built careers working with children, inspired by their Camp It Up!
        experience. As many of “our kids” go off to college (many returning each year to work as staff), they
        write in their college essays that Camp It Up! is the one thing that has most shaped their view of
        family and community.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <img src="./assets/jill.jpg">
      <div class="name">
        Jill Rose
      </div>
      <div class="title">
        Founder
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>
        Jill Rose, the co-founder of Camp It Up!, has been working in various camp settings since age thirteen.
        As a Counselor, Music Specialist, Program Director, Director, Staff Trainer and Consultant, she has
        become familiar with every aspect of camp management (though she still can’t snake a toilet). She
        co-founded Camp It Up! thirty years ago and has been the camp’s director since that time. She’s a
        co-founder of Camps In Common, a non-profit corporation that manages Feather River Camp for the City of
        Oakland, California.
        <br><br>
        Her work with Camp It Up! is both a culmination and manifestation of her commitment to non-urban camps
        as a source for individual, familial and communal healing and empowerment. As director of Camp It Up!,
        Ms. Rose was able to experience the thrill and gratification of knowing that it is possible to make real
        and positive changes in people’s lives. Whether it has been training teenagers to work with young
        children, enabling an individual to attend and enjoy a week’s camping experience with his or her family
        for the first time, or encouraging a staff member to take on a new and challenging role, her work has
        been a source of challenge and healing, and has compelled her to continue reaching out for other
        opportunities that “make a difference.” As a Music teacher in an Oakland public school, songwriter,
        community organizer and event producer, Jill has been fortunate to find many such opportunities in her
        life. Jill retired in December 2016 from being Director of Camp It Up. She now gets to experience Camp
        It Up from the perspective of a camper.
        <br><br>
        Ms. Rose has been a Bay Area resident since 1967 and lives in Oakland, California. When time and money
        allow, she loves to travel; and when only time is available, she can be found playing piano and singing
        with friends, spending time with her family or playing a decidedly uncompetitive game of Scrabble.
      </p>
    </div>
  </div>
</div>
